<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="au theme template">
	<meta name="author" content="Hau Nguyen">
	<meta name="keywords" content="au theme template">

	<!-- Title Page-->
	<title>facew2p</title>


	<!-- Fontfaces CSS-->
	<link href="{{=URL('static','template/css/font-face.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link href="{{=URL('static','template/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link href="{{=URL('static','template/css/theme.css')}}" rel="stylesheet" media="all">



   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="{{=URL(c='default',f='index')}}">
							<img src="{{=URL('static','template/images/icon/logo.png')}}" alt="CoolAdmin" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='index')}}">{{=DICT["aa1279"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa1281"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa1283"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa1285"]}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{=URL(c='default',f='chart')}}">
								<i class="fas fa-chart-bar"></i>Charts</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='table')}}">
								<i class="fas fa-table"></i>Tables</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='form')}}">
								<i class="far fa-check-square"></i>Forms</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='map')}}">
								<i class="fas fa-map-marker-alt"></i>Maps</a>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-copy"></i>Pages</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='login')}}">{{=DICT["aa1291"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='register')}}">{{=DICT["aa1293"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa1295"]}}</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-desktop"></i>UI Elements</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='button')}}">{{=DICT["aa1297"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa1299"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa1301"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='card')}}">{{=DICT["aa1303"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa1305"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa1307"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa1309"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa1311"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa1313"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa1315"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa1317"]}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#">
					<img src="{{=URL('static','template/images/icon/logo.png')}}" alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='index')}}">{{=DICT["aa1320"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa1322"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa1324"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa1326"]}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{=URL(c='default',f='chart')}}">
								<i class="fas fa-chart-bar"></i>Charts</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='table')}}">
								<i class="fas fa-table"></i>Tables</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='form')}}">
								<i class="far fa-check-square"></i>Forms</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='map')}}">
								<i class="fas fa-map-marker-alt"></i>Maps</a>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-copy"></i>Pages</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='login')}}">{{=DICT["aa1332"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='register')}}">{{=DICT["aa1334"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa1336"]}}</a>
								</li>
							</ul>
						</li>
						<li class="active has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-desktop"></i>UI Elements</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='button')}}">{{=DICT["aa1338"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa1340"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa1342"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='card')}}">{{=DICT["aa1344"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa1346"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa1348"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa1350"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa1352"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa1354"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa1356"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa1358"]}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="header-wrap">
							
{{block myalertform0}}
{{include 'web2py_ajax.html'}}

{{=alertform0.custom.begin}}
<div><label for='id373'>txt374</label></div>
{{=alertform0.custom.widget.f0}}
{{=alertform0.custom.submit}}
{{=alertform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

							<div class="header-button">
								<div class="noti-wrap">
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-comment-more"></i>
										<span class="quantity">1</span>
										<div class="mess-dropdown js-dropdown">
											<div class="mess__title">
												<p>{{=DICT["pa1360"]}}</p>
											</div>
											<div class="mess__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Michelle Moreno" />
												</div>
												<div class="content">
													<h6>{{=DICT["hh1362"]}}</h6>
													<p>{{=DICT["pa1363"]}}</p>
													<span class="time">{{=DICT["sx1364"]}}</span>
												</div>
											</div>
											<div class="mess__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Diane Myers" />
												</div>
												<div class="content">
													<h6>{{=DICT["hh1366"]}}</h6>
													<p>{{=DICT["pa1367"]}}</p>
													<span class="time">{{=DICT["sx1368"]}}</span>
												</div>
											</div>
											<div class="mess__footer">
												<a href="#">{{=DICT["aa1369"]}}</a>
											</div>
										</div>
									</div>
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-email"></i>
										<span class="quantity">1</span>
										<div class="email-dropdown js-dropdown">
											<div class="email__title">
												<p>{{=DICT["pa1370"]}}</p>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa1372"]}}</p>
													<span>{{=DICT["sp1373"]}}</span>
												</div>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-05.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa1375"]}}</p>
													<span>{{=DICT["sp1376"]}}</span>
												</div>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa1378"]}}</p>
													<span>{{=DICT["sp1379"]}}</span>
												</div>
											</div>
											<div class="email__footer">
												<a href="#">{{=DICT["aa1380"]}}</a>
											</div>
										</div>
									</div>
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-notifications"></i>
										<span class="quantity">3</span>
										<div class="notifi-dropdown js-dropdown">
											<div class="notifi__title">
												<p>{{=DICT["pa1381"]}}</p>
											</div>
											<div class="notifi__item">
												<div class="bg-c1 img-cir img-40">
													<i class="zmdi zmdi-email-open"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa1382"]}}</p>
													<span class="date">{{=DICT["sx1383"]}}</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c2 img-cir img-40">
													<i class="zmdi zmdi-account-box"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa1384"]}}</p>
													<span class="date">{{=DICT["sx1385"]}}</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c3 img-cir img-40">
													<i class="zmdi zmdi-file-text"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa1386"]}}</p>
													<span class="date">{{=DICT["sx1387"]}}</span>
												</div>
											</div>
											<div class="notifi__footer">
												<a href="#">{{=DICT["aa1388"]}}</a>
											</div>
										</div>
									</div>
								</div>
								<div class="account-wrap">
									<div class="account-item clearfix js-item-menu">
										<div class="image">
											<img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
										</div>
										<div class="content">
											<a class="js-acc-btn" href="#">{{=DICT["aa1390"]}}</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="#">
														<img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="#">{{=DICT["aa1392"]}}</a>
													</h5>
													<span class="email">{{=DICT["sx1393"]}}</span>
												</div>
											</div>
											<div class="account-dropdown__body">
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-account"></i>Account</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-settings"></i>Setting</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-money-box"></i>Billing</a>
												</div>
											</div>
											<div class="account-dropdown__footer">
												<a href="#">
													<i class="zmdi zmdi-power"></i>Logout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- HEADER DESKTOP-->
			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">

								<div class="card">
									<div class="card-header">
										<strong class="card-title">Alerts</strong>
									</div>
									<div class="card-body">
										<div class="alert alert-primary" role="alert">
											This is a primary alert—check it out!
										</div>
										<div class="alert alert-secondary" role="alert">
											This is a secondary alert—check it out!
										</div>
										<div class="alert alert-success" role="alert">
											This is a success alert—check it out!
										</div>
										<div class="alert alert-danger" role="alert">
											This is a danger alert—check it out!
										</div>
										<div class="alert alert-warning" role="alert">
											This is a warning alert—check it out!
										</div>
										<div class="alert alert-info" role="alert">
											This is a info alert—check it out!
										</div>
										<div class="alert alert-light" role="alert">
											This is a light alert—check it out!
										</div>
										<div class="alert alert-dark" role="alert">
											This is a dark alert—check it out!
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<strong class="card-title">Link Color Alerts</strong>
									</div>
									<div class="card-body">
										<div class="alert alert-primary" role="alert">
											This is a primary alert with
											<a href="#" class="alert-link">{{=DICT["aa1394"]}}</a>. Give it a click if you like.
										</div>
										<div class="alert alert-secondary" role="alert">
											This is a secondary alert with
											<a href="#" class="alert-link">{{=DICT["aa1395"]}}</a>. Give it a click if you like.
										</div>
										<div class="alert alert-success" role="alert">
											This is a success alert with
											<a href="#" class="alert-link">{{=DICT["aa1396"]}}</a>. Give it a click if you like.
										</div>
										<div class="alert alert-danger" role="alert">
											This is a danger alert with
											<a href="#" class="alert-link">{{=DICT["aa1397"]}}</a>. Give it a click if you like.
										</div>
										<div class="alert alert-warning" role="alert">
											This is a warning alert with
											<a href="#" class="alert-link">{{=DICT["aa1398"]}}</a>. Give it a click if you like.
										</div>
										<div class="alert alert-info" role="alert">
											This is a info alert with
											<a href="#" class="alert-link">{{=DICT["aa1399"]}}</a>. Give it a click if you like.
										</div>
										<div class="alert alert-light" role="alert">
											This is a light alert with
											<a href="#" class="alert-link">{{=DICT["aa1400"]}}</a>. Give it a click if you like.
										</div>
										<div class="alert alert-dark" role="alert">
											This is a dark alert with
											<a href="#" class="alert-link">{{=DICT["aa1401"]}}</a>. Give it a click if you like.
										</div>
									</div>
								</div>


							</div>


							<div class="col-md-6">

								<div class="card">
									<div class="card-header">
										<strong class="card-title">Dismissing Alerts</strong>
									</div>
									<div class="card-body">
										<div class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
											<span class="badge badge-pill badge-primary">{{=DICT["sx1402"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1403"]}}</span>
											</button>
										</div>

										<div class="sufee-alert alert with-close alert-secondary alert-dismissible fade show">
											<span class="badge badge-pill badge-secondary">{{=DICT["sx1404"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1405"]}}</span>
											</button>
										</div>

										<div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
											<span class="badge badge-pill badge-success">{{=DICT["sx1406"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1407"]}}</span>
											</button>
										</div>

										<div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
											<span class="badge badge-pill badge-danger">{{=DICT["sx1408"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1409"]}}</span>
											</button>
										</div>

										<div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
											<span class="badge badge-pill badge-warning">{{=DICT["sx1410"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1411"]}}</span>
											</button>
										</div>

										<div class="sufee-alert alert with-close alert-info alert-dismissible fade show">
											<span class="badge badge-pill badge-info">{{=DICT["sx1412"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1413"]}}</span>
											</button>
										</div>

										<div class="sufee-alert alert with-close alert-light alert-dismissible fade show">
											<span class="badge badge-pill badge-light">{{=DICT["sx1414"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1415"]}}</span>
											</button>
										</div>

										<div class="sufee-alert alert with-close alert-dark alert-dismissible fade show">
											<span class="badge badge-pill badge-dark">{{=DICT["sx1416"]}}</span>
											You successfully read this important alert.
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">{{=DICT["sx1417"]}}</span>
											</button>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<strong class="card-title">Contents</strong>
									</div>
									<div class="card-body">
										<div class="alert alert-success" role="alert">
											<h4 class="alert-heading">{{=DICT["hd1418"]}}</h4>
											<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
												that you can see how spacing within an alert works with this kind of content.</p>
											<hr>
											<p class="mb-0">{{=DICT["pc1419"]}}</p>
										</div>

										<div class="alert alert-warning" role="alert">
											<h4 class="alert-heading">{{=DICT["hd1420"]}}</h4>
											<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
												that you can see how spacing within an alert works with this kind of content.</p>
											<hr>
											<p class="mb-0">{{=DICT["pc1421"]}}</p>
										</div>

										<div class="alert alert-danger" role="alert">
											<h4 class="alert-heading">{{=DICT["hd1422"]}}</h4>
											<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
												that you can see how spacing within an alert works with this kind of content.</p>
											<hr>
											<p class="mb-0">{{=DICT["pc1423"]}}</p>
										</div>
									</div>
								</div>



							</div>
						</div>
						<div class="row">
								<div class="col-md-12">
										<div class="copyright">
												<p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
										</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTAINER-->

	</div>

	<!-- Jquery JS-->
	<script src="{{=URL('static','template/vendor/jquery-3.2.1.min.js')}}"></script>
	<!-- Bootstrap JS-->
	<script src="{{=URL('static','template/vendor/bootstrap-4.1/popper.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
	<!-- Vendor JS       -->
	<script src="{{=URL('static','template/vendor/slick/slick.min.js')}}">
	</script>
	<script src="{{=URL('static','template/vendor/wow/wow.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/animsition/animsition.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
	</script>
	<script src="{{=URL('static','template/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/counter-up/jquery.counterup.min.js')}}">
	</script>
	<script src="{{=URL('static','template/vendor/circle-progress/circle-progress.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
	<script src="{{=URL('static','template/vendor/chartjs/Chart.bundle.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/select2/select2.min.js')}}">
	</script>

	<!-- Main JS-->
	<script src="{{=URL('static','template/js/main.js')}}"></script>

</body>

</html>
<!-- end document-->