<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>facew2p</title>

    <!-- Fontfaces CSS-->
    <link href="{{=URL('static','template/css/font-face.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{=URL('static','template/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/vector-map/jqvmap.min.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{=URL('static','template/css/theme.css')}}" rel="stylesheet" media="all">



   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="{{=URL(c='default',f='index')}}">
                            <img src="{{=URL('static','template/images/icon/logo.png')}}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL(c='default',f='index')}}">{{=DICT["aa2933"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa2935"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa2937"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa2939"]}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{=URL(c='default',f='chart')}}">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="{{=URL(c='default',f='table')}}">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="{{=URL(c='default',f='form')}}">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="{{=URL(c='default',f='map')}}">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL(c='default',f='login')}}">{{=DICT["aa2945"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='register')}}">{{=DICT["aa2947"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa2949"]}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL(c='default',f='button')}}">{{=DICT["aa2951"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa2953"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa2955"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='card')}}">{{=DICT["aa2957"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa2959"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa2961"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa2963"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa2965"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa2967"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa2969"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa2971"]}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{{=URL('static','template/images/icon/logo.png')}}" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL(c='default',f='index')}}">{{=DICT["aa2974"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa2976"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa2978"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa2980"]}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{=URL(c='default',f='chart')}}">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="{{=URL(c='default',f='table')}}">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="{{=URL(c='default',f='form')}}">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li class="active">
                            <a href="{{=URL(c='default',f='map')}}">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL(c='default',f='login')}}">{{=DICT["aa2986"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='register')}}">{{=DICT["aa2988"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa2990"]}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL(c='default',f='button')}}">{{=DICT["aa2992"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa2994"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa2996"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='card')}}">{{=DICT["aa2998"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa3000"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa3002"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa3004"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa3006"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa3008"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa3010"]}}</a>
                                </li>
                                <li>
                                    <a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa3012"]}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            
{{block mymapform0}}
{{include 'web2py_ajax.html'}}

{{=mapform0.custom.begin}}
{{=mapform0.custom.widget.f0}}
{{=mapform0.custom.submit}}
{{=mapform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity">{{=DICT["sx3014"]}}</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>{{=DICT["pa3015"]}}</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>{{=DICT["hh3017"]}}</h6>
                                                    <p>{{=DICT["pa3018"]}}</p>
                                                    <span class="time">{{=DICT["sx3019"]}}</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>{{=DICT["hh3021"]}}</h6>
                                                    <p>{{=DICT["pa3022"]}}</p>
                                                    <span class="time">{{=DICT["sx3023"]}}</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">{{=DICT["aa3024"]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">{{=DICT["sx3025"]}}</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>{{=DICT["pa3026"]}}</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>{{=DICT["pa3028"]}}</p>
                                                    <span>{{=DICT["sp3029"]}}</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="{{=URL('static','template/images/icon/avatar-05.jpg')}}" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>{{=DICT["pa3031"]}}</p>
                                                    <span>{{=DICT["sp3032"]}}</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>{{=DICT["pa3034"]}}</p>
                                                    <span>{{=DICT["sp3035"]}}</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">{{=DICT["aa3036"]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">{{=DICT["sx3037"]}}</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>{{=DICT["pa3038"]}}</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>{{=DICT["pa3039"]}}</p>
                                                    <span class="date">{{=DICT["sx3040"]}}</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>{{=DICT["pa3041"]}}</p>
                                                    <span class="date">{{=DICT["sx3042"]}}</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>{{=DICT["pa3043"]}}</p>
                                                    <span class="date">{{=DICT["sx3044"]}}</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">{{=DICT["aa3045"]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{=DICT["aa3047"]}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{=DICT["aa3049"]}}</a>
                                                    </h5>
                                                    <span class="email">{{=DICT["sx3050"]}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>map data</h3>
                                    <div class="filters">
                                        <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                            <select class="js-select2" name="property">
                                                <option selected="selected">All Properties</option>
                                                <option value="">Products</option>
                                                <option value="">Services</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                            <select class="js-select2 au-select-dark" name="time">
                                                <option selected="selected">All Time</option>
                                                <option value="">By Month</option>
                                                <option value="">By Day</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                    <div class="map-wrap m-t-45 m-b-20">
                                        <div id="vmap" style="height: 284px;"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Europe</h3>
                                    <div class="map-wrap">
                                        <div class="vmap" id="vmap1"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                            </div>
                            <div class="col-md-6">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>USA</h3>
                                    <div class="map-wrap">
                                        <div class="vmap" id="vmap2"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                            </div>
                            <div class="col-md-6">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Germany</h3>
                                    <div class="map-wrap">
                                        <div class="vmap" id="vmap3"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                            </div>
                            <div class="col-md-6">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>France</h3>
                                    <div class="map-wrap">
                                        <div class="vmap" id="vmap4"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                            </div>
                            <div class="col-md-6">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Russia</h3>
                                    <div class="map-wrap">
                                        <div class="vmap" id="vmap5"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                            </div>
                            <div class="col-md-6">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-map"></i>Brazil</h3>
                                    <div class="map-wrap">
                                        <div class="vmap" id="vmap6"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                                <!-- END PAGE CONTAINER-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>{{=DICT["pf3052"]}}<a href="https://colorlib.com">{{=DICT["aa3053"]}}</a>{{=DICT["pc3051"]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{{=URL('static','template/vendor/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap JS-->
    <script src="{{=URL('static','template/vendor/bootstrap-4.1/popper.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
    <!-- Vendor JS       -->
    <script src="{{=URL('static','template/vendor/slick/slick.min.js')}}">
    </script>
    <script src="{{=URL('static','template/vendor/wow/wow.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/animsition/animsition.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
    </script>
    <script src="{{=URL('static','template/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/counter-up/jquery.counterup.min.js')}}">
    </script>
    <script src="{{=URL('static','template/vendor/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
    <script src="{{=URL('static','template/vendor/chartjs/Chart.bundle.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/select2/select2.min.js')}}">
    </script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.sampledata.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.world.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.brazil.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.europe.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.france.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.germany.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.russia.js')}}"></script>
    <script src="{{=URL('static','template/vendor/vector-map/jquery.vmap.usa.js')}}"></script>

    <!-- Main JS-->
    <script src="{{=URL('static','template/js/main.js')}}"></script>

</body>

</html>
<!-- end document-->