<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="au theme template">
	<meta name="author" content="Hau Nguyen">
	<meta name="keywords" content="au theme template">

	<!-- Title Page-->
	<title>facew2p</title>


	<!-- Fontfaces CSS-->
	<link href="{{=URL('static','template/css/font-face.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link href="{{=URL('static','template/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link href="{{=URL('static','template/css/theme.css')}}" rel="stylesheet" media="all">



   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="{{=URL(c='default',f='index')}}">
							<img src="{{=URL('static','template/images/icon/logo.png')}}" alt="CoolAdmin" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='index')}}">{{=DICT["aa2045"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa2047"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa2049"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa2051"]}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{=URL(c='default',f='chart')}}">
								<i class="fas fa-chart-bar"></i>Charts</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='table')}}">
								<i class="fas fa-table"></i>Tables</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='form')}}">
								<i class="far fa-check-square"></i>Forms</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='map')}}">
								<i class="fas fa-map-marker-alt"></i>Maps</a>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-copy"></i>Pages</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='login')}}">{{=DICT["aa2057"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='register')}}">{{=DICT["aa2059"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa2061"]}}</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-desktop"></i>UI Elements</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='button')}}">{{=DICT["aa2063"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa2065"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa2067"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='card')}}">{{=DICT["aa2069"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa2071"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa2073"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa2075"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa2077"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa2079"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa2081"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa2083"]}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#">
					<img src="{{=URL('static','template/images/icon/logo.png')}}" alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='index')}}">{{=DICT["aa2086"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa2088"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa2090"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa2092"]}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{=URL(c='default',f='chart')}}">
								<i class="fas fa-chart-bar"></i>Charts</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='table')}}">
								<i class="fas fa-table"></i>Tables</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='form')}}">
								<i class="far fa-check-square"></i>Forms</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='map')}}">
								<i class="fas fa-map-marker-alt"></i>Maps</a>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-copy"></i>Pages</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='login')}}">{{=DICT["aa2098"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='register')}}">{{=DICT["aa2100"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa2102"]}}</a>
								</li>
							</ul>
						</li>
						<li class="active has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-desktop"></i>UI Elements</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='button')}}">{{=DICT["aa2104"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa2106"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa2108"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='card')}}">{{=DICT["aa2110"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa2112"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa2114"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa2116"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa2118"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa2120"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa2122"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa2124"]}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="header-wrap">
							
{{block mytabform0}}
{{include 'web2py_ajax.html'}}

{{=tabform0.custom.begin}}
<div><label for='id434'>txt435</label></div>
{{=tabform0.custom.widget.f0}}
{{=tabform0.custom.submit}}
{{=tabform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

							<div class="header-button">
								<div class="noti-wrap">
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-comment-more"></i>
										<span class="quantity">1</span>
										<div class="mess-dropdown js-dropdown">
											<div class="mess__title">
												<p>{{=DICT["pa2126"]}}</p>
											</div>
											<div class="mess__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Michelle Moreno" />
												</div>
												<div class="content">
													<h6>{{=DICT["hh2128"]}}</h6>
													<p>{{=DICT["pa2129"]}}</p>
													<span class="time">{{=DICT["sx2130"]}}</span>
												</div>
											</div>
											<div class="mess__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Diane Myers" />
												</div>
												<div class="content">
													<h6>{{=DICT["hh2132"]}}</h6>
													<p>{{=DICT["pa2133"]}}</p>
													<span class="time">{{=DICT["sx2134"]}}</span>
												</div>
											</div>
											<div class="mess__footer">
												<a href="#">{{=DICT["aa2135"]}}</a>
											</div>
										</div>
									</div>
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-email"></i>
										<span class="quantity">1</span>
										<div class="email-dropdown js-dropdown">
											<div class="email__title">
												<p>{{=DICT["pa2136"]}}</p>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa2138"]}}</p>
													<span>{{=DICT["sp2139"]}}</span>
												</div>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-05.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa2141"]}}</p>
													<span>{{=DICT["sp2142"]}}</span>
												</div>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa2144"]}}</p>
													<span>{{=DICT["sp2145"]}}</span>
												</div>
											</div>
											<div class="email__footer">
												<a href="#">{{=DICT["aa2146"]}}</a>
											</div>
										</div>
									</div>
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-notifications"></i>
										<span class="quantity">3</span>
										<div class="notifi-dropdown js-dropdown">
											<div class="notifi__title">
												<p>{{=DICT["pa2147"]}}</p>
											</div>
											<div class="notifi__item">
												<div class="bg-c1 img-cir img-40">
													<i class="zmdi zmdi-email-open"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa2148"]}}</p>
													<span class="date">{{=DICT["sx2149"]}}</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c2 img-cir img-40">
													<i class="zmdi zmdi-account-box"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa2150"]}}</p>
													<span class="date">{{=DICT["sx2151"]}}</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c3 img-cir img-40">
													<i class="zmdi zmdi-file-text"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa2152"]}}</p>
													<span class="date">{{=DICT["sx2153"]}}</span>
												</div>
											</div>
											<div class="notifi__footer">
												<a href="#">{{=DICT["aa2154"]}}</a>
											</div>
										</div>
									</div>
								</div>
								<div class="account-wrap">
									<div class="account-item clearfix js-item-menu">
										<div class="image">
											<img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
										</div>
										<div class="content">
											<a class="js-acc-btn" href="#">{{=DICT["aa2156"]}}</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="#">
														<img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="#">{{=DICT["aa2158"]}}</a>
													</h5>
													<span class="email">{{=DICT["sx2159"]}}</span>
												</div>
											</div>
											<div class="account-dropdown__body">
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-account"></i>Account</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-settings"></i>Setting</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-money-box"></i>Billing</a>
												</div>
											</div>
											<div class="account-dropdown__footer">
												<a href="#">
													<i class="zmdi zmdi-power"></i>Logout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2160"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">In HTML, a menu is often defined in an unordered list
											<code>&lt;ul&gt;</code>{{=DICT["pc2161"]}}</p>

										<ul class="list-unstyled">
											<li>
												<a href="#">{{=DICT["aa2162"]}}</a>
											</li>
											<li>
												<a href="#">{{=DICT["aa2163"]}}</a>
											</li>
											<li>
												<a href="#">{{=DICT["aa2164"]}}</a>
											</li>
											<li>
												<a href="#">{{=DICT["aa2165"]}}</a>
											</li>
										</ul>

									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2166"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">In HTML, a menu is often defined in an unordered list
											<code>&lt;ul&gt;</code>{{=DICT["pc2167"]}}</p>

										<ul class="list-inline">
											<li class="list-inline-item">
												<a href="#">{{=DICT["aa2168"]}}</a>
											</li>
											<li class="list-inline-item">
												<a href="#">{{=DICT["aa2169"]}}</a>
											</li>
											<li class="list-inline-item">
												<a href="#">{{=DICT["aa2170"]}}</a>
											</li>
											<li class="list-inline-item">
												<a href="#">{{=DICT["aa2171"]}}</a>
											</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2172"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">{{=DICT["pc2173"]}}</p>

										<ul class="nav nav-tabs">
											<li class="nav-item">
												<a class="nav-link active" href="#">{{=DICT["aa2174"]}}</a>
											</li>
											<li class="nav-item dropdown">
												<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu 1
													<span class="caret"></span>
												</a>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">{{=DICT["aa2175"]}}</a>
													<a class="dropdown-item" href="#">{{=DICT["aa2176"]}}</a>
													<a class="dropdown-item" href="#">{{=DICT["aa2177"]}}</a>
												</div>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">{{=DICT["aa2178"]}}</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">{{=DICT["aa2179"]}}</a>
											</li>
										</ul>

									</div>
								</div>
							</div>
							<!-- /# column -->
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2180"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">Pills are created with
											<code>&lt;ul class="nav nav-pills"&gt;</code>. Also mark the current page with
											<code>&lt;li class="active"&gt;</code>:</p>

										<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
												 aria-selected="true">Home</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
												 aria-selected="false">Profile</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
												 aria-selected="false">Contact</a>
											</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2181"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">Pills can also be displayed vertically. Just add the
											<code>.nav-stacked</code>{{=DICT["pc2182"]}}</p>

										<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
											<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
											 aria-selected="true">Home</a>
											<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
											 aria-selected="false">Menu 1</a>
											<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
											 aria-selected="false">Menu 2</a>
											<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
											 aria-selected="false">Menu 3</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /# column -->
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2183"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">{{=DICT["pc2184"]}}</p>

										<ul class="nav nav-pills">
											<li class="nav-item">
												<a class="nav-link active" href="#">{{=DICT["aa2185"]}}</a>
											</li>
											<li class="nav-item dropdown">
												<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{=DICT["aa2186"]}}</a>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">{{=DICT["aa2187"]}}</a>
													<a class="dropdown-item" href="#">{{=DICT["aa2188"]}}</a>
													<a class="dropdown-item" href="#">{{=DICT["aa2189"]}}</a>
													<a class="dropdown-item" href="#">{{=DICT["aa2190"]}}</a>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item" href="#">{{=DICT["aa2191"]}}</a>
												</div>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">{{=DICT["aa2192"]}}</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">{{=DICT["aa2193"]}}</a>
											</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2194"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">To center/justify the tabs and pills, use the
											<code>.nav-justified</code>{{=DICT["pc2195"]}}</p>

										<!-- Centered Tabs -->
										<ul class="nav nav-tabs nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#">{{=DICT["aa2196"]}}</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">{{=DICT["aa2197"]}}</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">{{=DICT["aa2198"]}}</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">{{=DICT["aa2199"]}}</a>
											</li>
										</ul>

										<ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
												 aria-selected="true">Home</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
												 aria-selected="false">Menu 1</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
												 aria-selected="false">Menu 2</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
												 aria-selected="false">Menu 3</a>
											</li>
										</ul>


									</div>
								</div>
							</div>
							<!-- /# column -->
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2200"]}}</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15">To make the tabs toggleable, add the
											<code>data-toggle="tab"</code> attribute to each link. Then add a
											<code>.tab-pane</code> class with a unique ID for every tab and wrap them inside a
											<code>&lt;div&gt;</code> element with class
											<code>.tab-content</code>. If you want the tabs to fade in and out when clicking on them, add the
											<code>.fade</code> class to
											<code>.tab-pane</code>:</p>

										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{=DICT["aa2201"]}}</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{=DICT["aa2202"]}}</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">{{=DICT["aa2203"]}}</a>
											</li>
										</ul>
										<div class="tab-content pl-3 p-1" id="myTabContent">
											<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
												<h3>{{=DICT["hh2204"]}}</h3>
												<p>{{=DICT["pa2205"]}}</p>
											</div>
											<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
												<h3>{{=DICT["hh2206"]}}</h3>
												<p>{{=DICT["pa2207"]}}</p>
											</div>
											<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
												<h3>{{=DICT["hh2208"]}}</h3>
												<p>{{=DICT["pa2209"]}}</p>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2210"]}}</h4>
									</div>
									<div class="card-body">
										<div class="default-tab">
											<nav>
												<div class="nav nav-tabs" id="nav-tab" role="tablist">
													<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
													 aria-selected="true">Home</a>
													<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
													 aria-selected="false">Profile</a>
													<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
													 aria-selected="false">Contact</a>
												</div>
											</nav>
											<div class="tab-content pl-3 pt-2" id="nav-tabContent">
												<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
													<p>Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
														master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
														dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
														Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
												</div>
												<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
													<p>Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
														master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
														dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
														Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
												</div>
												<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
													<p>Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
														master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
														dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
														Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<!-- /# column -->
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<h4>{{=DICT["hh2211"]}}</h4>
									</div>
									<div class="card-body">
										<div class="custom-tab">

											<nav>
												<div class="nav nav-tabs" id="nav-tab" role="tablist">
													<a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
													 aria-selected="true">Home</a>
													<a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
													 aria-selected="false">Profile</a>
													<a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact"
													 aria-selected="false">Contact</a>
												</div>
											</nav>
											<div class="tab-content pl-3 pt-2" id="nav-tabContent">
												<div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
													<p>Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
														master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
														dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
														Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
												</div>
												<div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
													<p>Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
														master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
														dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
														Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
												</div>
												<div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
													<p>Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
														master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
														dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone.
														Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<!-- /# column -->
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTAINER-->

		</div>

		<!-- Jquery JS-->
		<script src="{{=URL('static','template/vendor/jquery-3.2.1.min.js')}}"></script>
		<!-- Bootstrap JS-->
		<script src="{{=URL('static','template/vendor/bootstrap-4.1/popper.min.js')}}"></script>
		<script src="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
		<!-- Vendor JS       -->
		<script src="{{=URL('static','template/vendor/slick/slick.min.js')}}">
		</script>
		<script src="{{=URL('static','template/vendor/wow/wow.min.js')}}"></script>
		<script src="{{=URL('static','template/vendor/animsition/animsition.min.js')}}"></script>
		<script src="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
		</script>
		<script src="{{=URL('static','template/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
		<script src="{{=URL('static','template/vendor/counter-up/jquery.counterup.min.js')}}">
		</script>
		<script src="{{=URL('static','template/vendor/circle-progress/circle-progress.min.js')}}"></script>
		<script src="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
		<script src="{{=URL('static','template/vendor/chartjs/Chart.bundle.min.js')}}"></script>
		<script src="{{=URL('static','template/vendor/select2/select2.min.js')}}">
		</script>

		<!-- Main JS-->
		<script src="{{=URL('static','template/js/main.js')}}"></script>

</body>

</html>
<!-- end document-->