{{extend 'layout.html'}}
{{=form}}
<style>
   p {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12pt; /* Размер шрифта в пунктах */ 
   }
  </style>
<p>{{=T('site tables')}}</p>

<p>{{=A('dlanguage0menu', _href=URL(c='myadd',f='languageIImenu'))}}</p>

<p>{{=A('dinline', _href=URL(c='myadd',f='inline'))}}</p>

<p>{{=A('dlegacy0user0menu', _href=URL(c='myadd',f='legacyIIuserIImenu'))}}</p>

<p>{{=A('dread0mail', _href=URL(c='myadd',f='readIImail'))}}</p>

<p>{{=A('dnavbar', _href=URL(c='myadd',f='navbar'))}}</p>

<p>{{=A('dproject0add', _href=URL(c='myadd',f='projectIIadd'))}}</p>

<p>{{=A('dblank', _href=URL(c='myadd',f='blank'))}}</p>

<p>{{=A('dfixed0topnav', _href=URL(c='myadd',f='fixedIItopnav'))}}</p>

<p>{{=A('dadvanced', _href=URL(c='myadd',f='advanced'))}}</p>

<p>{{=A('dmodals', _href=URL(c='myadd',f='modals'))}}</p>

<p>{{=A('dfixed0sidebar', _href=URL(c='myadd',f='fixedIIsidebar'))}}</p>

<p>{{=A('dinvoice', _href=URL(c='myadd',f='invoice'))}}</p>

<p>{{=A('dpace', _href=URL(c='myadd',f='pace'))}}</p>

<p>{{=A('dcompose', _href=URL(c='myadd',f='compose'))}}</p>

<p>{{=A('dsimple', _href=URL(c='myadd',f='simple'))}}</p>

<p>{{=A('dcontacts', _href=URL(c='myadd',f='contacts'))}}</p>

<p>{{=A('dcollapsed0sidebar', _href=URL(c='myadd',f='collapsedIIsidebar'))}}</p>

<p>{{=A('dboxed', _href=URL(c='myadd',f='boxed'))}}</p>

<p>{{=A('dbuttons', _href=URL(c='myadd',f='buttons'))}}</p>

<p>{{=A('de0commerce', _href=URL(c='myadd',f='eIIcommerce'))}}</p>

<p>{{=A('deditors', _href=URL(c='myadd',f='editors'))}}</p>

<p>{{=A('dproject0detail', _href=URL(c='myadd',f='projectIIdetail'))}}</p>

<p>{{=A('dchartjs', _href=URL(c='myadd',f='chartjs'))}}</p>

<p>{{=A('dribbons', _href=URL(c='myadd',f='ribbons'))}}</p>

<p>{{=A('dproject0edit', _href=URL(c='myadd',f='projectIIedit'))}}</p>

<p>{{=A('dicons', _href=URL(c='myadd',f='icons'))}}</p>

<p>{{=A('dindex2', _href=URL(c='myadd',f='index2'))}}</p>

<p>{{=A('dprojects', _href=URL(c='myadd',f='projects'))}}</p>

<p>{{=A('dlogin', _href=URL(c='myadd',f='login'))}}</p>

<p>{{=A('dindex3', _href=URL(c='myadd',f='index3'))}}</p>

<p>{{=A('dmailbox', _href=URL(c='myadd',f='mailbox'))}}</p>

<p>{{=A('drecover0password', _href=URL(c='myadd',f='recoverIIpassword'))}}</p>

<p>{{=A('dforgot0password', _href=URL(c='myadd',f='forgotIIpassword'))}}</p>

<p>{{=A('dlockscreen', _href=URL(c='myadd',f='lockscreen'))}}</p>

<p>{{=A('dsliders', _href=URL(c='myadd',f='sliders'))}}</p>

<p>{{=A('dprofile', _href=URL(c='myadd',f='profile'))}}</p>

<p>{{=A('dtimeline', _href=URL(c='myadd',f='timeline'))}}</p>

<p>{{=A('dregister', _href=URL(c='myadd',f='register'))}}</p>

<p>{{=A('dvalidation', _href=URL(c='myadd',f='validation'))}}</p>

<p>{{=A('dgallery', _href=URL(c='myadd',f='gallery'))}}</p>

<p>{{=A('dwidgets', _href=URL(c='myadd',f='widgets'))}}</p>

<p>{{=A('dindex', _href=URL(c='myadd',f='table_index1'))}}</p>

<p>{{=A('dcalendar', _href=URL(c='myadd',f='calendar'))}}</p>

<p>{{=A('d500', _href=URL(c='myadd',f='X500'))}}</p>

<p>{{=A('dtop0nav', _href=URL(c='myadd',f='topIInav'))}}</p>

<p>{{=A('dgeneral', _href=URL(c='myadd',f='general'))}}</p>

<p>{{=A('dfixed0footer', _href=URL(c='myadd',f='fixedIIfooter'))}}</p>

<p>{{=A('djsgrid', _href=URL(c='myadd',f='jsgrid'))}}</p>

<p>{{=A('dstarter', _href=URL(c='myadd',f='starter'))}}</p>

<p>{{=A('dflot', _href=URL(c='myadd',f='flot'))}}</p>

<p>{{=A('dtop0nav0sidebar', _href=URL(c='myadd',f='topIInavIIsidebar'))}}</p>

<p>{{=A('ddata', _href=URL(c='myadd',f='data'))}}</p>

<p>{{=A('d404', _href=URL(c='myadd',f='X404'))}}</p>

<p>{{=A('dinvoice0print', _href=URL(c='myadd',f='invoiceIIprint'))}}</p>

<p>{{=A('auth_event', _href=URL(c='myadd',f='auth_eventctrl'))}}</p>

<p>{{=A('auth_user', _href=URL(c='myadd',f='auth_userctrl'))}}</p>

<p>{{=A('auth_group', _href=URL(c='myadd',f='auth_groupctrl'))}}</p>

<p>{{=A('auth_membership', _href=URL(c='myadd',f='auth_membershipctrl'))}}</p>

<p>{{=A('project_edittable0', _href=URL(c='myadd',f='project_edittable0ctrl'))}}</p>

<p>{{=A('index3table0', _href=URL(c='myadd',f='index3table0ctrl'))}}</p>

<p>{{=A('simpletable0', _href=URL(c='myadd',f='simpletable0ctrl'))}}</p>

<p>{{=A('simpletable1', _href=URL(c='myadd',f='simpletable1ctrl'))}}</p>

<p>{{=A('simpletable2', _href=URL(c='myadd',f='simpletable2ctrl'))}}</p>

<p>{{=A('simpletable3', _href=URL(c='myadd',f='simpletable3ctrl'))}}</p>

<p>{{=A('simpletable4', _href=URL(c='myadd',f='simpletable4ctrl'))}}</p>

<p>{{=A('simpletable5', _href=URL(c='myadd',f='simpletable5ctrl'))}}</p>

<p>{{=A('datatable0', _href=URL(c='myadd',f='datatable0ctrl'))}}</p>

<p>{{=A('datatable1', _href=URL(c='myadd',f='datatable1ctrl'))}}</p>

<p>{{=A('invoicetable0', _href=URL(c='myadd',f='invoicetable0ctrl'))}}</p>

<p>{{=A('invoice0printtable0', _href=URL(c='myadd',f='invoice0printtable0ctrl'))}}</p>

<p>{{=A('projectstable0', _href=URL(c='myadd',f='projectstable0ctrl'))}}</p>

<p>{{=A('index2table0', _href=URL(c='myadd',f='index2table0ctrl'))}}</p>

<p>{{=A('dboxedform0', _href=URL(c='myadd',f='dboxedform0ctrl'))}}</p>

<p>{{=A('dprojectIIeditform0', _href=URL(c='myadd',f='dprojectIIeditform0ctrl'))}}</p>

<p>{{=A('dribbonsform0', _href=URL(c='myadd',f='dribbonsform0ctrl'))}}</p>

<p>{{=A('dgalleryform0', _href=URL(c='myadd',f='dgalleryform0ctrl'))}}</p>

<p>{{=A('diconsform0', _href=URL(c='myadd',f='diconsform0ctrl'))}}</p>

<p>{{=A('dindex3form0', _href=URL(c='myadd',f='dindex3form0ctrl'))}}</p>

<p>{{=A('dinlineform0', _href=URL(c='myadd',f='dinlineform0ctrl'))}}</p>

<p>{{=A('dadvancedform0', _href=URL(c='myadd',f='dadvancedform0ctrl'))}}</p>

<p>{{=A('dvalidationform0', _href=URL(c='myadd',f='dvalidationform0ctrl'))}}</p>

<p>{{=A('dvalidationform1', _href=URL(c='myadd',f='dvalidationform1ctrl'))}}</p>

<p>{{=A('dfixedIIsidebarform0', _href=URL(c='myadd',f='dfixedIIsidebarform0ctrl'))}}</p>

<p>{{=A('dX404form0', _href=URL(c='myadd',f='dX404form0ctrl'))}}</p>

<p>{{=A('dX404form1', _href=URL(c='myadd',f='dX404form1ctrl'))}}</p>

<p>{{=A('dcollapsedIIsidebarform0', _href=URL(c='myadd',f='dcollapsedIIsidebarform0ctrl'))}}</p>

<p>{{=A('dforgotIIpasswordform0', _href=URL(c='myadd',f='dforgotIIpasswordform0ctrl'))}}</p>

<p>{{=A('dstarterform0', _href=URL(c='myadd',f='dstarterform0ctrl'))}}</p>

<p>{{=A('djsgridform0', _href=URL(c='myadd',f='djsgridform0ctrl'))}}</p>

<p>{{=A('dindexform0', _href=URL(c='myadd',f='dindexform0ctrl'))}}</p>

<p>{{=A('dindexform1', _href=URL(c='myadd',f='dindexform1ctrl'))}}</p>

<p>{{=A('dgeneralform0', _href=URL(c='myadd',f='dgeneralform0ctrl'))}}</p>

<p>{{=A('dbuttonsform0', _href=URL(c='myadd',f='dbuttonsform0ctrl'))}}</p>

<p>{{=A('dreadIImailform0', _href=URL(c='myadd',f='dreadIImailform0ctrl'))}}</p>

<p>{{=A('dsimpleform0', _href=URL(c='myadd',f='dsimpleform0ctrl'))}}</p>

<p>{{=A('ddataform0', _href=URL(c='myadd',f='ddataform0ctrl'))}}</p>

<p>{{=A('dloginform0', _href=URL(c='myadd',f='dloginform0ctrl'))}}</p>

<p>{{=A('dnavbarform0', _href=URL(c='myadd',f='dnavbarform0ctrl'))}}</p>

<p>{{=A('dnavbarform1', _href=URL(c='myadd',f='dnavbarform1ctrl'))}}</p>

<p>{{=A('dnavbarform2', _href=URL(c='myadd',f='dnavbarform2ctrl'))}}</p>

<p>{{=A('dnavbarform3', _href=URL(c='myadd',f='dnavbarform3ctrl'))}}</p>

<p>{{=A('dnavbarform4', _href=URL(c='myadd',f='dnavbarform4ctrl'))}}</p>

<p>{{=A('dnavbarform5', _href=URL(c='myadd',f='dnavbarform5ctrl'))}}</p>

<p>{{=A('dnavbarform6', _href=URL(c='myadd',f='dnavbarform6ctrl'))}}</p>

<p>{{=A('drecoverIIpasswordform0', _href=URL(c='myadd',f='drecoverIIpasswordform0ctrl'))}}</p>

<p>{{=A('dprofileform0', _href=URL(c='myadd',f='dprofileform0ctrl'))}}</p>

<p>{{=A('dprofileform1', _href=URL(c='myadd',f='dprofileform1ctrl'))}}</p>

<p>{{=A('dprofileform2', _href=URL(c='myadd',f='dprofileform2ctrl'))}}</p>

<p>{{=A('deditorsform0', _href=URL(c='myadd',f='deditorsform0ctrl'))}}</p>

<p>{{=A('dinvoiceform0', _href=URL(c='myadd',f='dinvoiceform0ctrl'))}}</p>

<p>{{=A('dfixedIItopnavform0', _href=URL(c='myadd',f='dfixedIItopnavform0ctrl'))}}</p>

<p>{{=A('dlockscreenform0', _href=URL(c='myadd',f='dlockscreenform0ctrl'))}}</p>

<p>{{=A('dtopIInavIIsidebarform0', _href=URL(c='myadd',f='dtopIInavIIsidebarform0ctrl'))}}</p>

<p>{{=A('dcomposeform0', _href=URL(c='myadd',f='dcomposeform0ctrl'))}}</p>

<p>{{=A('dprojectIIdetailform0', _href=URL(c='myadd',f='dprojectIIdetailform0ctrl'))}}</p>

<p>{{=A('dfixedIIfooterform0', _href=URL(c='myadd',f='dfixedIIfooterform0ctrl'))}}</p>

<p>{{=A('dblankform0', _href=URL(c='myadd',f='dblankform0ctrl'))}}</p>

<p>{{=A('dlegacyIIuserIImenuform0', _href=URL(c='myadd',f='dlegacyIIuserIImenuform0ctrl'))}}</p>

<p>{{=A('dtopIInavform0', _href=URL(c='myadd',f='dtopIInavform0ctrl'))}}</p>

<p>{{=A('dcontactsform0', _href=URL(c='myadd',f='dcontactsform0ctrl'))}}</p>

<p>{{=A('dcalendarform0', _href=URL(c='myadd',f='dcalendarform0ctrl'))}}</p>

<p>{{=A('dmailboxform0', _href=URL(c='myadd',f='dmailboxform0ctrl'))}}</p>

<p>{{=A('dpaceform0', _href=URL(c='myadd',f='dpaceform0ctrl'))}}</p>

<p>{{=A('dflotform0', _href=URL(c='myadd',f='dflotform0ctrl'))}}</p>

<p>{{=A('dprojectIIaddform0', _href=URL(c='myadd',f='dprojectIIaddform0ctrl'))}}</p>

<p>{{=A('dchartjsform0', _href=URL(c='myadd',f='dchartjsform0ctrl'))}}</p>

<p>{{=A('dwidgetsform0', _href=URL(c='myadd',f='dwidgetsform0ctrl'))}}</p>

<p>{{=A('dwidgetsform1', _href=URL(c='myadd',f='dwidgetsform1ctrl'))}}</p>

<p>{{=A('dwidgetsform2', _href=URL(c='myadd',f='dwidgetsform2ctrl'))}}</p>

<p>{{=A('dwidgetsform3', _href=URL(c='myadd',f='dwidgetsform3ctrl'))}}</p>

<p>{{=A('dwidgetsform4', _href=URL(c='myadd',f='dwidgetsform4ctrl'))}}</p>

<p>{{=A('dwidgetsform5', _href=URL(c='myadd',f='dwidgetsform5ctrl'))}}</p>

<p>{{=A('dwidgetsform6', _href=URL(c='myadd',f='dwidgetsform6ctrl'))}}</p>

<p>{{=A('dprojectsform0', _href=URL(c='myadd',f='dprojectsform0ctrl'))}}</p>

<p>{{=A('dlanguageIImenuform0', _href=URL(c='myadd',f='dlanguageIImenuform0ctrl'))}}</p>

<p>{{=A('dslidersform0', _href=URL(c='myadd',f='dslidersform0ctrl'))}}</p>

<p>{{=A('dregisterform0', _href=URL(c='myadd',f='dregisterform0ctrl'))}}</p>

<p>{{=A('dmodalsform0', _href=URL(c='myadd',f='dmodalsform0ctrl'))}}</p>

<p>{{=A('dtimelineform0', _href=URL(c='myadd',f='dtimelineform0ctrl'))}}</p>

<p>{{=A('dindex2form0', _href=URL(c='myadd',f='dindex2form0ctrl'))}}</p>

<p>{{=A('dindex2form1', _href=URL(c='myadd',f='dindex2form1ctrl'))}}</p>

<p>{{=A('deIIcommerceform0', _href=URL(c='myadd',f='deIIcommerceform0ctrl'))}}</p>

<p>{{=A('dX500form0', _href=URL(c='myadd',f='dX500form0ctrl'))}}</p>

<p>{{=A('dX500form1', _href=URL(c='myadd',f='dX500form1ctrl'))}}</p>
