{{extend 'w2playout.html'}}
{{=form}}
<style>
   p {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12pt; /* Размер шрифта в пунктах */ 
   }
  </style>
<p>{{=T('site tables')}}</p>

<p>{{=A('dtwo0menu01', _href=URL(c='myadd',f='twoIImenuII1'))}}</p>

<p>{{=A('dform0elements02', _href=URL(c='myadd',f='formIIelementsII2'))}}</p>

<p>{{=A('dmobile0menu02', _href=URL(c='myadd',f='mobileIImenuII2'))}}</p>

<p>{{=A('dblank', _href=URL(c='myadd',f='blank'))}}</p>

<p>{{=A('djquery0ui', _href=URL(c='myadd',f='jqueryIIui'))}}</p>

<p>{{=A('dpricing', _href=URL(c='myadd',f='pricing'))}}</p>

<p>{{=A('dgrid', _href=URL(c='myadd',f='grid'))}}</p>

<p>{{=A('dmobile0menu01', _href=URL(c='myadd',f='mobileIImenuII1'))}}</p>

<p>{{=A('dtreeview', _href=URL(c='myadd',f='treeview'))}}</p>

<p>{{=A('dtypography', _href=URL(c='myadd',f='typography'))}}</p>

<p>{{=A('dinvoice', _href=URL(c='myadd',f='invoice'))}}</p>

<p>{{=A('delements', _href=URL(c='myadd',f='elements'))}}</p>

<p>{{=A('dbuttons', _href=URL(c='myadd',f='buttons'))}}</p>

<p>{{=A('dform0wizard', _href=URL(c='myadd',f='formIIwizard'))}}</p>

<p>{{=A('dsearch', _href=URL(c='myadd',f='search'))}}</p>

<p>{{=A('demail0contrast', _href=URL(c='myadd',f='emailIIcontrast'))}}</p>

<p>{{=A('djqgrid', _href=URL(c='myadd',f='jqgrid'))}}</p>

<p>{{=A('dtables', _href=URL(c='myadd',f='tables'))}}</p>

<p>{{=A('dlogin', _href=URL(c='myadd',f='login'))}}</p>

<p>{{=A('demail', _href=URL(c='myadd',f='email'))}}</p>

<p>{{=A('dform0elements', _href=URL(c='myadd',f='formIIelements'))}}</p>

<p>{{=A('demail0navbar', _href=URL(c='myadd',f='emailIInavbar'))}}</p>

<p>{{=A('dprofile', _href=URL(c='myadd',f='profile'))}}</p>

<p>{{=A('dtop0menu', _href=URL(c='myadd',f='topIImenu'))}}</p>

<p>{{=A('dtimeline', _href=URL(c='myadd',f='timeline'))}}</p>

<p>{{=A('dtwo0menu02', _href=URL(c='myadd',f='twoIImenuII2'))}}</p>

<p>{{=A('dcontent0slider', _href=URL(c='myadd',f='contentIIslider'))}}</p>

<p>{{=A('ddropzone', _href=URL(c='myadd',f='dropzone'))}}</p>

<p>{{=A('dnestable0list', _href=URL(c='myadd',f='nestableIIlist'))}}</p>

<p>{{=A('dgallery', _href=URL(c='myadd',f='gallery'))}}</p>

<p>{{=A('dwidgets', _href=URL(c='myadd',f='widgets'))}}</p>

<p>{{=A('dindex', _href=URL(c='myadd',f='table_index1'))}}</p>

<p>{{=A('dfaq', _href=URL(c='myadd',f='faq'))}}</p>

<p>{{=A('dcalendar', _href=URL(c='myadd',f='calendar'))}}</p>

<p>{{=A('derror0404', _href=URL(c='myadd',f='errorII404'))}}</p>

<p>{{=A('derror0500', _href=URL(c='myadd',f='errorII500'))}}</p>

<p>{{=A('demail0confirmation', _href=URL(c='myadd',f='emailIIconfirmation'))}}</p>

<p>{{=A('dinbox', _href=URL(c='myadd',f='inbox'))}}</p>

<p>{{=A('dmobile0menu03', _href=URL(c='myadd',f='mobileIImenuII3'))}}</p>

<p>{{=A('dwysiwyg', _href=URL(c='myadd',f='wysiwyg'))}}</p>

<p>{{=A('demail0newsletter', _href=URL(c='myadd',f='emailIInewsletter'))}}</p>

<p>{{=A('auth_event', _href=URL(c='myadd',f='auth_eventctrl'))}}</p>

<p>{{=A('auth_user', _href=URL(c='myadd',f='auth_userctrl'))}}</p>

<p>{{=A('auth_group', _href=URL(c='myadd',f='auth_groupctrl'))}}</p>

<p>{{=A('auth_membership', _href=URL(c='myadd',f='auth_membershipctrl'))}}</p>

<p>{{=A('widgetstable0', _href=URL(c='myadd',f='widgetstable0ctrl'))}}</p>

<p>{{=A('tablestable0', _href=URL(c='myadd',f='tablestable0ctrl'))}}</p>

<p>{{=A('tablestable1', _href=URL(c='myadd',f='tablestable1ctrl'))}}</p>

<p>{{=A('tablestable2', _href=URL(c='myadd',f='tablestable2ctrl'))}}</p>

<p>{{=A('indextable0', _href=URL(c='myadd',f='indextable0ctrl'))}}</p>

<p>{{=A('invoicetable0', _href=URL(c='myadd',f='invoicetable0ctrl'))}}</p>

<p>{{=A('dwysiwygform0', _href=URL(c='myadd',f='dwysiwygform0ctrl'))}}</p>

<p>{{=A('dwidgetsform0', _href=URL(c='myadd',f='dwidgetsform0ctrl'))}}</p>

<p>{{=A('demailform0', _href=URL(c='myadd',f='demailform0ctrl'))}}</p>

<p>{{=A('dmobileIImenuII2form0', _href=URL(c='myadd',f='dmobileIImenuII2form0ctrl'))}}</p>

<p>{{=A('dtreeviewform0', _href=URL(c='myadd',f='dtreeviewform0ctrl'))}}</p>

<p>{{=A('dtablesform0', _href=URL(c='myadd',f='dtablesform0ctrl'))}}</p>

<p>{{=A('dtablesform1', _href=URL(c='myadd',f='dtablesform1ctrl'))}}</p>

<p>{{=A('dtablesform2', _href=URL(c='myadd',f='dtablesform2ctrl'))}}</p>

<p>{{=A('dtablesform3', _href=URL(c='myadd',f='dtablesform3ctrl'))}}</p>

<p>{{=A('dtablesform4', _href=URL(c='myadd',f='dtablesform4ctrl'))}}</p>

<p>{{=A('dtablesform5', _href=URL(c='myadd',f='dtablesform5ctrl'))}}</p>

<p>{{=A('derrorII500form0', _href=URL(c='myadd',f='derrorII500form0ctrl'))}}</p>

<p>{{=A('dindexform0', _href=URL(c='myadd',f='dindexform0ctrl'))}}</p>

<p>{{=A('dindexform1', _href=URL(c='myadd',f='dindexform1ctrl'))}}</p>

<p>{{=A('dformIIelementsII2form0', _href=URL(c='myadd',f='dformIIelementsII2form0ctrl'))}}</p>

<p>{{=A('dformIIelementsII2form1', _href=URL(c='myadd',f='dformIIelementsII2form1ctrl'))}}</p>

<p>{{=A('dbuttonsform0', _href=URL(c='myadd',f='dbuttonsform0ctrl'))}}</p>

<p>{{=A('dgalleryform0', _href=URL(c='myadd',f='dgalleryform0ctrl'))}}</p>

<p>{{=A('dmobileIImenuII3form0', _href=URL(c='myadd',f='dmobileIImenuII3form0ctrl'))}}</p>

<p>{{=A('dcalendarform0', _href=URL(c='myadd',f='dcalendarform0ctrl'))}}</p>

<p>{{=A('dloginform0', _href=URL(c='myadd',f='dloginform0ctrl'))}}</p>

<p>{{=A('dloginform1', _href=URL(c='myadd',f='dloginform1ctrl'))}}</p>

<p>{{=A('dloginform2', _href=URL(c='myadd',f='dloginform2ctrl'))}}</p>

<p>{{=A('dprofileform0', _href=URL(c='myadd',f='dprofileform0ctrl'))}}</p>

<p>{{=A('dprofileform1', _href=URL(c='myadd',f='dprofileform1ctrl'))}}</p>

<p>{{=A('dinvoiceform0', _href=URL(c='myadd',f='dinvoiceform0ctrl'))}}</p>

<p>{{=A('dmobileIImenuII1form0', _href=URL(c='myadd',f='dmobileIImenuII1form0ctrl'))}}</p>

<p>{{=A('derrorII404form0', _href=URL(c='myadd',f='derrorII404form0ctrl'))}}</p>

<p>{{=A('derrorII404form1', _href=URL(c='myadd',f='derrorII404form1ctrl'))}}</p>

<p>{{=A('dtwoIImenuII2form0', _href=URL(c='myadd',f='dtwoIImenuII2form0ctrl'))}}</p>

<p>{{=A('delementsform0', _href=URL(c='myadd',f='delementsform0ctrl'))}}</p>

<p>{{=A('delementsform1', _href=URL(c='myadd',f='delementsform1ctrl'))}}</p>

<p>{{=A('dtimelineform0', _href=URL(c='myadd',f='dtimelineform0ctrl'))}}</p>

<p>{{=A('dblankform0', _href=URL(c='myadd',f='dblankform0ctrl'))}}</p>

<p>{{=A('dcontentIIsliderform0', _href=URL(c='myadd',f='dcontentIIsliderform0ctrl'))}}</p>

<p>{{=A('dtypographyform0', _href=URL(c='myadd',f='dtypographyform0ctrl'))}}</p>

<p>{{=A('dtopIImenuform0', _href=URL(c='myadd',f='dtopIImenuform0ctrl'))}}</p>

<p>{{=A('dformIIelementsform0', _href=URL(c='myadd',f='dformIIelementsform0ctrl'))}}</p>

<p>{{=A('dformIIelementsform1', _href=URL(c='myadd',f='dformIIelementsform1ctrl'))}}</p>

<p>{{=A('dformIIelementsform2', _href=URL(c='myadd',f='dformIIelementsform2ctrl'))}}</p>

<p>{{=A('dformIIelementsform3', _href=URL(c='myadd',f='dformIIelementsform3ctrl'))}}</p>

<p>{{=A('dformIIelementsform4', _href=URL(c='myadd',f='dformIIelementsform4ctrl'))}}</p>

<p>{{=A('djqgridform0', _href=URL(c='myadd',f='djqgridform0ctrl'))}}</p>

<p>{{=A('dnestableIIlistform0', _href=URL(c='myadd',f='dnestableIIlistform0ctrl'))}}</p>

<p>{{=A('djqueryIIuiform0', _href=URL(c='myadd',f='djqueryIIuiform0ctrl'))}}</p>

<p>{{=A('dinboxform0', _href=URL(c='myadd',f='dinboxform0ctrl'))}}</p>

<p>{{=A('dinboxform1', _href=URL(c='myadd',f='dinboxform1ctrl'))}}</p>

<p>{{=A('dinboxform2', _href=URL(c='myadd',f='dinboxform2ctrl'))}}</p>

<p>{{=A('dformIIwizardform0', _href=URL(c='myadd',f='dformIIwizardform0ctrl'))}}</p>

<p>{{=A('dformIIwizardform1', _href=URL(c='myadd',f='dformIIwizardform1ctrl'))}}</p>

<p>{{=A('dformIIwizardform2', _href=URL(c='myadd',f='dformIIwizardform2ctrl'))}}</p>

<p>{{=A('ddropzoneform0', _href=URL(c='myadd',f='ddropzoneform0ctrl'))}}</p>

<p>{{=A('ddropzoneform1', _href=URL(c='myadd',f='ddropzoneform1ctrl'))}}</p>

<p>{{=A('dgridform0', _href=URL(c='myadd',f='dgridform0ctrl'))}}</p>

<p>{{=A('dpricingform0', _href=URL(c='myadd',f='dpricingform0ctrl'))}}</p>

<p>{{=A('dsearchform0', _href=URL(c='myadd',f='dsearchform0ctrl'))}}</p>

<p>{{=A('dsearchform1', _href=URL(c='myadd',f='dsearchform1ctrl'))}}</p>

<p>{{=A('dsearchform2', _href=URL(c='myadd',f='dsearchform2ctrl'))}}</p>

<p>{{=A('dfaqform0', _href=URL(c='myadd',f='dfaqform0ctrl'))}}</p>
