{{extend 'w2playout.html'}}
{{=form}}
<style>
   p {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12pt; /* Размер шрифта в пунктах */ 
   }
  </style>
<p>{{=T('site tables')}}</p>

<p>{{=A('dblank', _href=URL(c='myadd',f='blank'))}}</p>

<p>{{=A('dcharts', _href=URL(c='myadd',f='charts'))}}</p>

<p>{{=A('dtables', _href=URL(c='myadd',f='tables'))}}</p>

<p>{{=A('dlogin', _href=URL(c='myadd',f='login'))}}</p>

<p>{{=A('dforgot0password', _href=URL(c='myadd',f='forgot_password'))}}</p>

<p>{{=A('dregister', _href=URL(c='myadd',f='register'))}}</p>

<p>{{=A('dindex', _href=URL(c='myadd',f='table_index1'))}}</p>

<p>{{=A('d404', _href=URL(c='myadd',f='X404'))}}</p>

<p>{{=A('auth_event', _href=URL(c='myadd',f='auth_eventctrl'))}}</p>

<p>{{=A('auth_user', _href=URL(c='myadd',f='auth_userctrl'))}}</p>

<p>{{=A('auth_group', _href=URL(c='myadd',f='auth_groupctrl'))}}</p>

<p>{{=A('auth_membership', _href=URL(c='myadd',f='auth_membershipctrl'))}}</p>

<p>{{=A('indextable0', _href=URL(c='myadd',f='indextable0ctrl'))}}</p>

<p>{{=A('tablestable0', _href=URL(c='myadd',f='tablestable0ctrl'))}}</p>

<p>{{=A('dindexform0', _href=URL(c='myadd',f='dindexform0ctrl'))}}</p>

<p>{{=A('dblankform0', _href=URL(c='myadd',f='dblankform0ctrl'))}}</p>

<p>{{=A('dloginform0', _href=URL(c='myadd',f='dloginform0ctrl'))}}</p>

<p>{{=A('dregisterform0', _href=URL(c='myadd',f='dregisterform0ctrl'))}}</p>

<p>{{=A('dtablesform0', _href=URL(c='myadd',f='dtablesform0ctrl'))}}</p>

<p>{{=A('dX404form0', _href=URL(c='myadd',f='dX404form0ctrl'))}}</p>

<p>{{=A('dchartsform0', _href=URL(c='myadd',f='dchartsform0ctrl'))}}</p>

<p>{{=A('dforgot_passwordform0', _href=URL(c='myadd',f='dforgot_passwordform0ctrl'))}}</p>
