{{extend 'w2playout.html'}}
<h2>{{=T('site images' )}}</h2>
<p>{{=T('select, pls, image for replace')}}<p>
<style>
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
</style>
<main class='grid'>
{{=A(IMG(_src=URL('static/template', 'img/undraw_posting_photo.svg'), ), _title= 'change the image', _href=URL('myima', 'myupload', vars= dict(imgnm='img/undraw_posting_photo.svg', imgctrl='index')))}}
</main>