
div.w2p_flash {
    background-image: none;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    font-weight: 400;
    min-width: 28px;
    max-width: 300px;
    min-height:50px;
    opacity: 1;
    vertical-align: baseline;
    right: auto;
    border-width: 1px;
    margin: 0 0 20px;
    padding: 15px 35px 15px 15px;
}

div.w2p_flash {
    font-weight:bold;
    display:none;
    position:fixed;
    padding:10px;
    top:148px;
    right:250px;
    min-width:280px;
    min-height:50px;
    opacity:0.95;
    margin:0px 0px 10px 10px;
    vertical-align:middle;
    cursor:pointer;
    color:#fff;
    background-color:#000;
    border:2px solid #fff;
    border-radius:8px;
    -o-border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-image: -webkit-linear-gradient(top,#222,#000);
    background-image: -o-linear-gradient(top,#222,#000);
    background-image: -moz-linear-gradient(90deg, #222, #000);
    background-image: linear-gradient(top,#222,#000);
    background-repeat: repeat-x;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index:2000;
}
div.w2p_flash #closeflash{color:inherit; float:right; margin-left:15px;}
.ie-lte7  div.flash #closeflash
{color:expression(this.parentNode.currentStyle['color']);float:none;position:absolute;right:4px;}

div.w2p_flash:hover { opacity:0.25; }
div.w2p_flash.alert {
    display: none;
    position: fixed;
    top: 70px;
    right: 75px;
    cursor: pointer;
    z-index: 1000;
    background-color: #f9edbe;
    border-color: #f0c36d;
}

.w2p_flash {
    opacity: 0.9!important;
    right: 100px;
}


