<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="my-content">
  <meta name="author" content="my-author">

  <title>facew2p</title>

  <!-- Custom fonts for this template-->
  <link href="{{=URL('static','template/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nuniti,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{=URL('static','template/css/sb-admin-2.min.css')}}" rel="stylesheet">



   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{{=DICT["ha761"]}}</h1>
              </div>
              
{{block myregisterform0}}
{{include 'web2py_ajax.html'}}

{{=registerform0.custom.begin}}
{{=registerform0.custom.widget.f0}}
{{=registerform0.custom.widget.f1}}
{{=registerform0.custom.widget.f2}}
{{=registerform0.custom.widget.f3}}
{{=registerform0.custom.widget.f4}}
{{=registerform0.custom.submit}}
{{=registerform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

              <hr>
              <div class="text-center">
                <a class="small" href="{{=URL(c='default',f='forgot_password')}}">{{=DICT["aa771"]}}</a>
              </div>
              <div class="text-center">
                <a class="small" href="{{=URL(c='default',f='login')}}">{{=DICT["aa773"]}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{=URL('static','template/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{=URL('static','template/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{=URL('static','template/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{=URL('static','template/js/sb-admin-2.min.js')}}"></script>

</body>

</html>