{{extend 'w2playout.html'}}
{{=form}}
<style>
   p {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12pt; /* Размер шрифта в пунктах */ 
   }
  </style>
<p>{{=T('site tables')}}</p>

<p>{{=A('dindex02', _href=URL(c='myadd',f='index_2'))}}</p>

<p>{{=A('danimations', _href=URL(c='myadd',f='animations'))}}</p>

<p>{{=A('dtabs', _href=URL(c='myadd',f='tabs'))}}</p>

<p>{{=A('daccordion', _href=URL(c='myadd',f='accordion'))}}</p>

<p>{{=A('dmodals', _href=URL(c='myadd',f='modals'))}}</p>

<p>{{=A('dcode0editor', _href=URL(c='myadd',f='code_editor'))}}</p>

<p>{{=A('dlogin0register', _href=URL(c='myadd',f='login_register'))}}</p>

<p>{{=A('dtypography', _href=URL(c='myadd',f='typography'))}}</p>

<p>{{=A('dinvoice', _href=URL(c='myadd',f='invoice'))}}</p>

<p>{{=A('dview0email', _href=URL(c='myadd',f='view_email'))}}</p>

<p>{{=A('dform0components', _href=URL(c='myadd',f='form_components'))}}</p>

<p>{{=A('dflot0charts', _href=URL(c='myadd',f='flot_charts'))}}</p>

<p>{{=A('dbuttons', _href=URL(c='myadd',f='buttons'))}}</p>

<p>{{=A('danalytics', _href=URL(c='myadd',f='analytics'))}}</p>

<p>{{=A('ddialog', _href=URL(c='myadd',f='dialog'))}}</p>

<p>{{=A('dwizard', _href=URL(c='myadd',f='wizard'))}}</p>

<p>{{=A('dbar0charts', _href=URL(c='myadd',f='bar_charts'))}}</p>

<p>{{=A('dnotification', _href=URL(c='myadd',f='notification'))}}</p>

<p>{{=A('ddropdown', _href=URL(c='myadd',f='dropdown'))}}</p>

<p>{{=A('darea0charts', _href=URL(c='myadd',f='area_charts'))}}</p>

<p>{{=A('dindex04', _href=URL(c='myadd',f='index_4'))}}</p>

<p>{{=A('dform0elements', _href=URL(c='myadd',f='form_elements'))}}</p>

<p>{{=A('dalert', _href=URL(c='myadd',f='alert'))}}</p>

<p>{{=A('dline0charts', _href=URL(c='myadd',f='line_charts'))}}</p>

<p>{{=A('dcontact', _href=URL(c='myadd',f='contact'))}}</p>

<p>{{=A('dpopovers', _href=URL(c='myadd',f='popovers'))}}</p>

<p>{{=A('dnormal0table', _href=URL(c='myadd',f='normal_table'))}}</p>

<p>{{=A('dform0examples', _href=URL(c='myadd',f='form_examples'))}}</p>

<p>{{=A('dindex03', _href=URL(c='myadd',f='index_3'))}}</p>

<p>{{=A('dcolor', _href=URL(c='myadd',f='color'))}}</p>

<p>{{=A('dwidgets', _href=URL(c='myadd',f='widgets'))}}</p>

<p>{{=A('dindex', _href=URL(c='myadd',f='table_index1'))}}</p>

<p>{{=A('ddata0map', _href=URL(c='myadd',f='data_map'))}}</p>

<p>{{=A('dcompose0email', _href=URL(c='myadd',f='compose_email'))}}</p>

<p>{{=A('dinbox', _href=URL(c='myadd',f='inbox'))}}</p>

<p>{{=A('dgoogle0map', _href=URL(c='myadd',f='google_map'))}}</p>

<p>{{=A('dtooltips', _href=URL(c='myadd',f='tooltips'))}}</p>

<p>{{=A('ddata0table', _href=URL(c='myadd',f='data_table'))}}</p>

<p>{{=A('d404', _href=URL(c='myadd',f='X404'))}}</p>

<p>{{=A('dimage0cropper', _href=URL(c='myadd',f='image_cropper'))}}</p>

<p>{{=A('auth_event', _href=URL(c='myadd',f='auth_eventctrl'))}}</p>

<p>{{=A('auth_user', _href=URL(c='myadd',f='auth_userctrl'))}}</p>

<p>{{=A('auth_group', _href=URL(c='myadd',f='auth_groupctrl'))}}</p>

<p>{{=A('auth_membership', _href=URL(c='myadd',f='auth_membershipctrl'))}}</p>

<p>{{=A('index03table0', _href=URL(c='myadd',f='index03table0ctrl'))}}</p>

<p>{{=A('indextable0', _href=URL(c='myadd',f='indextable0ctrl'))}}</p>

<p>{{=A('invoicetable0', _href=URL(c='myadd',f='invoicetable0ctrl'))}}</p>

<p>{{=A('normal0tabletable0', _href=URL(c='myadd',f='normal0tabletable0ctrl'))}}</p>

<p>{{=A('normal0tabletable1', _href=URL(c='myadd',f='normal0tabletable1ctrl'))}}</p>

<p>{{=A('normal0tabletable2', _href=URL(c='myadd',f='normal0tabletable2ctrl'))}}</p>

<p>{{=A('normal0tabletable3', _href=URL(c='myadd',f='normal0tabletable3ctrl'))}}</p>

<p>{{=A('normal0tabletable4', _href=URL(c='myadd',f='normal0tabletable4ctrl'))}}</p>

<p>{{=A('normal0tabletable5', _href=URL(c='myadd',f='normal0tabletable5ctrl'))}}</p>

<p>{{=A('index02table0', _href=URL(c='myadd',f='index02table0ctrl'))}}</p>

<p>{{=A('index04table0', _href=URL(c='myadd',f='index04table0ctrl'))}}</p>

<p>{{=A('data0tabletable0', _href=URL(c='myadd',f='data0tabletable0ctrl'))}}</p>

<p>{{=A('analyticstable0', _href=URL(c='myadd',f='analyticstable0ctrl'))}}</p>

<p>{{=A('analyticstable1', _href=URL(c='myadd',f='analyticstable1ctrl'))}}</p>

<p>{{=A('analyticstable2', _href=URL(c='myadd',f='analyticstable2ctrl'))}}</p>
