<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>facew2p</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{=URL('static','template/apple-icon.png')}}">
    <link rel="shortcut icon" href="{{=URL('static','template/favicon.ico')}}">


    <link rel="stylesheet" href="{{=URL('static','template/vendors/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/themify-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/flag-icon-css/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/selectFX/css/cs-skin-elastic.css')}}">

    <link rel="stylesheet" href="{{=URL('static','template/assets/css/style.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Open+San" rel="stylesheet" type="text/css">


   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{=URL(c='default',f='index')}}"><img src="{{=URL('static','template/images/logo.png')}}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{{=URL(c='default',f='index')}}"><img src="{{=URL('static','template/images/logo2.png')}}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{=URL(c='default',f='index')}}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">{{=DICT["hc1635"]}}</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="{{=URL(c='default',f='ui_buttons')}}">{{=DICT["aa1637"]}}</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="{{=URL(c='default',f='ui_badges')}}">{{=DICT["aa1639"]}}</a></li>
                            <li><i class="fa fa-bars"></i><a href="{{=URL(c='default',f='ui_tabs')}}">{{=DICT["aa1641"]}}</a></li>
                            <li><i class="fa fa-share-square-o"></i><a href="{{=URL(c='default',f='ui_social_buttons')}}">{{=DICT["aa1643"]}}</a></li>
                            <li><i class="fa fa-id-card-o"></i><a href="{{=URL(c='default',f='ui_cards')}}">{{=DICT["aa1645"]}}</a></li>
                            <li><i class="fa fa-exclamation-triangle"></i><a href="{{=URL(c='default',f='ui_alerts')}}">{{=DICT["aa1647"]}}</a></li>
                            <li><i class="fa fa-spinner"></i><a href="{{=URL(c='default',f='ui_progressbar')}}">{{=DICT["aa1649"]}}</a></li>
                            <li><i class="fa fa-fire"></i><a href="{{=URL(c='default',f='ui_modals')}}">{{=DICT["aa1651"]}}</a></li>
                            <li><i class="fa fa-book"></i><a href="{{=URL(c='default',f='ui_switches')}}">{{=DICT["aa1653"]}}</a></li>
                            <li><i class="fa fa-th"></i><a href="{{=URL(c='default',f='ui_grids')}}">{{=DICT["aa1655"]}}</a></li>
                            <li><i class="fa fa-file-word-o"></i><a href="{{=URL(c='default',f='ui_typgraphy')}}">{{=DICT["aa1657"]}}</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="{{=URL(c='default',f='tables_basic')}}">{{=DICT["aa1659"]}}</a></li>
                            <li><i class="fa fa-table"></i><a href="{{=URL(c='default',f='tables_data')}}">{{=DICT["aa1661"]}}</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="{{=URL(c='default',f='forms_basic')}}">{{=DICT["aa1663"]}}</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="{{=URL(c='default',f='forms_advanced')}}">{{=DICT["aa1665"]}}</a></li>
                        </ul>
                    </li>

                    <h3 class="menu-title">{{=DICT["hc1666"]}}</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="{{=URL(c='default',f='font_fontawesome')}}">{{=DICT["aa1668"]}}</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="{{=URL(c='default',f='font_themify')}}">{{=DICT["aa1670"]}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{=URL(c='default',f='widgets')}}"> <i class="menu-icon ti-email"></i>Widgets </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="{{=URL(c='default',f='charts_chartjs')}}">{{=DICT["aa1673"]}}</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="{{=URL(c='default',f='charts_flot')}}">{{=DICT["aa1675"]}}</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="{{=URL(c='default',f='charts_peity')}}">{{=DICT["aa1677"]}}</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="{{=URL(c='default',f='maps_gmap')}}">{{=DICT["aa1679"]}}</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="{{=URL(c='default',f='maps_vector')}}">{{=DICT["aa1681"]}}</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">{{=DICT["hc1682"]}}</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="{{=URL(c='default',f='page_login')}}">{{=DICT["aa1684"]}}</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="{{=URL(c='default',f='page_register')}}">{{=DICT["aa1686"]}}</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="{{=URL(c='default',f='pages_forget')}}">{{=DICT["aa1688"]}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            
{{block myui_typgraphyform0}}
{{include 'web2py_ajax.html'}}

{{=ui_typgraphyform0.custom.begin}}
<div><label for='id328'>txt329</label></div>
{{=ui_typgraphyform0.custom.widget.f0}}
{{=ui_typgraphyform0.custom.submit}}
{{=ui_typgraphyform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">{{=DICT["pc1690"]}}</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">{{=DICT["pc1691"]}}</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/1.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx1693"]}}</span>
                                    <span class="time float-right">{{=DICT["sx1694"]}}</span>
                                        <p>{{=DICT["pa1695"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/2.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx1697"]}}</span>
                                    <span class="time float-right">{{=DICT["sx1698"]}}</span>
                                        <p>{{=DICT["pa1699"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/3.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx1701"]}}</span>
                                    <span class="time float-right">{{=DICT["sx1702"]}}</span>
                                        <p>{{=DICT["pa1703"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/4.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx1705"]}}</span>
                                    <span class="time float-right">{{=DICT["sx1706"]}}</span>
                                        <p>{{=DICT["pa1707"]}}</p>
                                </span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{{=URL('static','template/images/admin.jpg')}}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">{{=DICT["sx1709"]}}</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{=DICT["hh1710"]}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">{{=DICT["aa1711"]}}</a></li>
                            <li><a href="#">{{=DICT["aa1712"]}}</a></li>
                            <li class="active">{{=DICT["lb1713"]}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">

                <div class="ui-typography">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title" v-if="headerText">Typography</strong>
                                </div>

                                <div class="card-body">

                                    <div class="typo-headers">
                                        <h1 class="pb-2 display-4">{{=DICT["ha1714"]}}</h1>
                                        <h2 class="pb-2 display-5">{{=DICT["hb1715"]}}</h2>
                                        <h3 class="pb-2 display-5">{{=DICT["hc1716"]}}</h3>
                                        <h4 class="pb-2 display-5">{{=DICT["hd1717"]}}</h4>
                                        <h5 class="pb-2 display-5">{{=DICT["he1718"]}}</h5>
                                        <h6 class="pb-4 display-5">{{=DICT["hf1719"]}}</h6>
                                    </div>
                                    <div class="typo-articles">
                                        <p>
                                            The unique stripes of zebras make them one of the animals most familiar to people.
                                            They occur in a variety of habitats, such as grasslands, savannas,
                                            <span class="bg-flat-color-1 text-light">{{=DICT["sx1720"]}}</span>, thorny scrublands,
                                            <span class="clickable-text">{{=DICT["sx1721"]}}</span>
                                            , and coastal hills. However, various anthropogenic factors have had a severe impact on zebra populations, in particular hunting for skins and habitat destruction. Grévy"s zebra and the mountain <mark>highlighted text</mark>
                                            zebra are endangered.</p>
                                        <blockquote class="blockquote mt-3 text-right">
                                            <p>
                                                Blockquotes. However, various anthropogenic factors have had a severe impact on zebra populations, in particular hunting for skins. </p>
                                            <footer class="blockquote-footer">Jefferey Lebowski</footer>
                                        </blockquote>
                                        <p>
                                            lthough zebra species may have overlapping ranges, they do not interbreed.
                                            In captivity, plains zebras have been crossed with mountain zebras. The hybrid foals
                                            <span class="bg-flat-color-1 text-light">{{=DICT["sx1722"]}}</span> lacked a dewlap and resembled their
                                        </p>
                                    </div>
                                    <div class="vue-lists">
                                        <h2 class="mb-4">{{=DICT["hb1723"]}}</h2>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>{{=DICT["hh1724"]}}</h3>
                                                <ul>
                                                    <li>
                                                        A wide variety of hypotheses have been proposed to account for the evolution of the striking stripes of zebras.
                                                    </li>
                                                    <li>{{=DICT["la1725"]}}</li>
                                                    <li>{{=DICT["la1726"]}}</li>
                                                    <li>
                                                        In addition, even at moderate distances, the striking striping merges to an apparent grey.
                                                        <ul class="vue-list-inner">
                                                            <li>{{=DICT["la1727"]}}</li>
                                                            <li>{{=DICT["la1728"]}}</li>
                                                            <li>{{=DICT["la1729"]}}</li>
                                                        </ul>
                                                    </li>
                                                    <li>{{=DICT["la1730"]}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                <div>
                                                    <h3>{{=DICT["hh1731"]}}</h3>
                                                    <ol class="vue-ordered">
                                                        <li>
                                                            A wide variety of hypotheses have been proposed to account for the evolution of the striking stripes of zebras.
                                                        </li>
                                                        <li>{{=DICT["la1732"]}}</li>
                                                        <li>{{=DICT["la1733"]}}</li>
                                                        <li>
                                                            In addition, even at moderate distances, the striking striping merges to an apparent grey.
                                                            <ul class="vue-list-inner">
                                                                <li>However, the camouflage has been contested with arguments that most of a zebra"s predator.
                                                                </li>
                                                                <li>{{=DICT["la1734"]}}</li>
                                                                <li>{{=DICT["la1735"]}}</li>
                                                            </ul>
                                                        </li>
                                                        <li>{{=DICT["la1736"]}}</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vue-misc">
                                        <h2 class="display-5 my-3">{{=DICT["hb1737"]}}</h2>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>{{=DICT["hh1738"]}}</h3>
                                                <address class="mt-3">
                                                    <strong>{{=DICT["sp1739"]}}</strong><br>
                                                    Nezalezhnasti Ave, 13 - 28A<br>
                                                    Minsk, Belarusr>
                                                   {{=DICT["te1741"]}}-98<br>
                                                    <br>
                                                    <b>{{=DICT["bb1742"]}}</b><br>
                                                    <a href="mailto">{{=DICT["aa1743"]}}</a>
                                                </address>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="mb-3">{{=DICT["hc1744"]}}</h3>
                                                <div class="jumbotron">
                                                    Zebras have excellent eyesight. It is believed that they can see in color. Like most ungulates, the zebra"s eyes are on the sides of its head, giving it a wide field of view.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>



            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


    <script src="{{=URL('static','template/vendors/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{=URL('static','template/vendors/popper.js/dist/umd/popper.min.js')}}"></script>
    <script src="{{=URL('static','template/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','template/assets/js/main.js')}}"></script>


</body>

</html>