<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>facew2p</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{=URL('static','template/apple-icon.png')}}">
    <link rel="shortcut icon" href="{{=URL('static','template/favicon.ico')}}">


    <link rel="stylesheet" href="{{=URL('static','template/vendors/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/themify-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/flag-icon-css/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/selectFX/css/cs-skin-elastic.css')}}">

    <link rel="stylesheet" href="{{=URL('static','template/assets/css/style.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Open+San" rel="stylesheet" type="text/css">





   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{=URL(c='default',f='index')}}"><img src="{{=URL('static','template/images/logo.png')}}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{{=URL(c='default',f='index')}}"><img src="{{=URL('static','template/images/logo2.png')}}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{=URL(c='default',f='index')}}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">{{=DICT["hc2915"]}}</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="{{=URL(c='default',f='ui_buttons')}}">{{=DICT["aa2917"]}}</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="{{=URL(c='default',f='ui_badges')}}">{{=DICT["aa2919"]}}</a></li>
                            <li><i class="fa fa-bars"></i><a href="{{=URL(c='default',f='ui_tabs')}}">{{=DICT["aa2921"]}}</a></li>
                            <li><i class="fa fa-share-square-o"></i><a href="{{=URL(c='default',f='ui_social_buttons')}}">{{=DICT["aa2923"]}}</a></li>
                            <li><i class="fa fa-id-card-o"></i><a href="{{=URL(c='default',f='ui_cards')}}">{{=DICT["aa2925"]}}</a></li>
                            <li><i class="fa fa-exclamation-triangle"></i><a href="{{=URL(c='default',f='ui_alerts')}}">{{=DICT["aa2927"]}}</a></li>
                            <li><i class="fa fa-spinner"></i><a href="{{=URL(c='default',f='ui_progressbar')}}">{{=DICT["aa2929"]}}</a></li>
                            <li><i class="fa fa-fire"></i><a href="{{=URL(c='default',f='ui_modals')}}">{{=DICT["aa2931"]}}</a></li>
                            <li><i class="fa fa-book"></i><a href="{{=URL(c='default',f='ui_switches')}}">{{=DICT["aa2933"]}}</a></li>
                            <li><i class="fa fa-th"></i><a href="{{=URL(c='default',f='ui_grids')}}">{{=DICT["aa2935"]}}</a></li>
                            <li><i class="fa fa-file-word-o"></i><a href="{{=URL(c='default',f='ui_typgraphy')}}">{{=DICT["aa2937"]}}</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="{{=URL(c='default',f='tables_basic')}}">{{=DICT["aa2939"]}}</a></li>
                            <li><i class="fa fa-table"></i><a href="{{=URL(c='default',f='tables_data')}}">{{=DICT["aa2941"]}}</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="{{=URL(c='default',f='forms_basic')}}">{{=DICT["aa2943"]}}</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="{{=URL(c='default',f='forms_advanced')}}">{{=DICT["aa2945"]}}</a></li>
                        </ul>
                    </li>

                    <h3 class="menu-title">{{=DICT["hc2946"]}}</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="{{=URL(c='default',f='font_fontawesome')}}">{{=DICT["aa2948"]}}</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="{{=URL(c='default',f='font_themify')}}">{{=DICT["aa2950"]}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{=URL(c='default',f='widgets')}}"> <i class="menu-icon ti-email"></i>Widgets </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="{{=URL(c='default',f='charts_chartjs')}}">{{=DICT["aa2953"]}}</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="{{=URL(c='default',f='charts_flot')}}">{{=DICT["aa2955"]}}</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="{{=URL(c='default',f='charts_peity')}}">{{=DICT["aa2957"]}}</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="{{=URL(c='default',f='maps_gmap')}}">{{=DICT["aa2959"]}}</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="{{=URL(c='default',f='maps_vector')}}">{{=DICT["aa2961"]}}</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">{{=DICT["hc2962"]}}</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="{{=URL(c='default',f='page_login')}}">{{=DICT["aa2964"]}}</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="{{=URL(c='default',f='page_register')}}">{{=DICT["aa2966"]}}</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="{{=URL(c='default',f='pages_forget')}}">{{=DICT["aa2968"]}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            
{{block myforms_basicform0}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform0.custom.begin}}
<div><label for='id17'>txt18</label></div>
{{=forms_basicform0.custom.widget.f0}}
{{=forms_basicform0.custom.submit}}
{{=forms_basicform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">{{=DICT["pc2970"]}}</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">{{=DICT["pc2971"]}}</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/1.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2973"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2974"]}}</span>
                                        <p>{{=DICT["pa2975"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/2.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2977"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2978"]}}</span>
                                        <p>{{=DICT["pa2979"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/3.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2981"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2982"]}}</span>
                                        <p>{{=DICT["pa2983"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/4.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2985"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2986"]}}</span>
                                        <p>{{=DICT["pa2987"]}}</p>
                                </span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{{=URL('static','template/images/admin.jpg')}}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">{{=DICT["sx2989"]}}</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{=DICT["hh2990"]}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">{{=DICT["aa2991"]}}</a></li>
                            <li><a href="#">{{=DICT["aa2992"]}}</a></li>
                            <li class="active">{{=DICT["lb2993"]}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">


                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Credit Card</strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center">{{=DICT["hc2994"]}}</h3>
                                        </div>
                                        <hr>
                                        
{{block myforms_basicform1}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform1.custom.begin}}
<div><label for='cc-payment'>Payment amount</label></div>
{{=forms_basicform1.custom.widget.f0}}
<div><label for='cc-name'>Name on card</label></div>
{{=forms_basicform1.custom.widget.f1}}
<div><label for='cc-number'>Card number</label></div>
{{=forms_basicform1.custom.widget.f2}}
<div><label for='cc-exp'>Expiration</label></div>
{{=forms_basicform1.custom.widget.f3}}
<div><label for='x_card_code'>txt37</label></div>
{{=forms_basicform1.custom.widget.f4}}
{{=forms_basicform1.custom.submit}}
{{=forms_basicform1.custom.end}}

<div  id=divID1 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash1 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID1').length > 0) {
    $('#divID1').remove();
  } 
}, 15000)
 </script>
{{end}}

                                    </div>
                                </div>

                            </div>
                        </div> <!-- .card -->

                    </div>
                    <!--/.col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header"><strong>{{=DICT["sp2998"]}}</strong><small>{{=DICT["si2999"]}}</small></div>
                            <div class="card-body card-block">
                                <div class="form-group"><label for="company" class=" form-control-label">Company</label><input type="text" id="company" placeholder="{{=DICT["pb3000"]}}" class="form-control"></div>
                                    <div class="form-group"><label for="vat" class=" form-control-label">VAT</label><input type="text" id="vat" placeholder="{{=DICT["pb3001"]}}" class="form-control"></div>
                                        <div class="form-group"><label for="street" class=" form-control-label">Street</label><input type="text" id="street" placeholder="{{=DICT["pb3002"]}}" class="form-control"></div>
                                            <div class="row form-group">
                                                <div class="col-8">
                                                    <div class="form-group"><label for="city" class=" form-control-label">City</label><input type="text" id="city" placeholder="{{=DICT["pb3003"]}}" class="form-control"></div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="form-group"><label for="postal-code" class=" form-control-label">Postal Code</label><input type="text" id="postal-code" placeholder="{{=DICT["pb3004"]}}" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"><label for="country" class=" form-control-label">Country</label><input type="text" id="country" placeholder="{{=DICT["pb3005"]}}" class="form-control"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>{{=DICT["sp3006"]}}</strong> Elements
                                                    </div>
                                                    <div class="card-body card-block">
                                                        
{{block myforms_basicform2}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform2.custom.begin}}
<div><label for='text-input'>txt44</label></div>
{{=forms_basicform2.custom.widget.f0}}
<div><label for='email-input'>txt46</label></div>
{{=forms_basicform2.custom.widget.f1}}
<div><label for='password-input'>txt48</label></div>
{{=forms_basicform2.custom.widget.f2}}
<div><label for='disabled-input'>txt50</label></div>
{{=forms_basicform2.custom.widget.f3}}
<div><label for='radio1'>Option 1</label></div>
{{=forms_basicform2.custom.widget.f4}}
<div><label for='radio2'>Option 2</label></div>
{{=forms_basicform2.custom.widget.f5}}
<div><label for='radio3'>Option 3</label></div>
{{=forms_basicform2.custom.widget.f6}}
<div><label for='inline-radio1'>One</label></div>
{{=forms_basicform2.custom.widget.f7}}
<div><label for='inline-radio2'>Two</label></div>
{{=forms_basicform2.custom.widget.f8}}
<div><label for='inline-radio3'>Three</label></div>
{{=forms_basicform2.custom.widget.f9}}
<div><label for='checkbox1'>Option 1</label></div>
{{=forms_basicform2.custom.widget.f10}}
<div><label for='checkbox2'>Option 2</label></div>
{{=forms_basicform2.custom.widget.f11}}
<div><label for='checkbox3'>Option 3</label></div>
{{=forms_basicform2.custom.widget.f12}}
<div><label for='inline-checkbox1'>One</label></div>
{{=forms_basicform2.custom.widget.f13}}
<div><label for='inline-checkbox2'>Two</label></div>
{{=forms_basicform2.custom.widget.f14}}
<div><label for='inline-checkbox3'>Three</label></div>
{{=forms_basicform2.custom.widget.f15}}
<div><label for='file-input'>txt82</label></div>
{{=forms_basicform2.custom.widget.f16}}
<div><label for='file-multiple-input'>txt85</label></div>
{{=forms_basicform2.custom.widget.f17}}
<div><label for='textarea-input'>txt88</label></div>
{{=forms_basicform2.custom.widget.f18}}
<div><label for='select'>txt90</label></div>
{{=forms_basicform2.custom.widget.f19}}
<div><label for='selectLg'>txt93</label></div>
{{=forms_basicform2.custom.widget.f20}}
<div><label for='SelectLm'>txt96</label></div>
{{=forms_basicform2.custom.widget.f21}}
<div><label for='disabledSelect'>txt99</label></div>
{{=forms_basicform2.custom.widget.f22}}
<div><label for='multiple-select'>txt102</label></div>
{{=forms_basicform2.custom.widget.f23}}
{{=forms_basicform2.custom.submit}}
{{=forms_basicform2.custom.end}}

<div  id=divID2 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash2 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID2').length > 0) {
    $('#divID2').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-dot-circle-o"></i> Submit
                                                        </button>
                                                        <button type="reset" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>{{=DICT["sp3013"]}}</strong> Form
                                                    </div>
                                                    <div class="card-body card-block">
                                                        
{{block myforms_basicform3}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform3.custom.begin}}
<div><label for='exampleInputName2'>Name</label></div>
{{=forms_basicform3.custom.widget.f0}}
<div><label for='exampleInputEmail2'>Email</label></div>
{{=forms_basicform3.custom.widget.f1}}
{{=forms_basicform3.custom.submit}}
{{=forms_basicform3.custom.end}}

<div  id=divID3 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash3 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID3').length > 0) {
    $('#divID3').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-dot-circle-o"></i> Submit
                                                        </button>
                                                        <button type="reset" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>{{=DICT["sp3016"]}}</strong> Form
                                                    </div>
                                                    <div class="card-body card-block">
                                                        
{{block myforms_basicform4}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform4.custom.begin}}
<div><label for='hf-email'>txt109</label></div>
{{=forms_basicform4.custom.widget.f0}}
<div><label for='hf-password'>txt111</label></div>
{{=forms_basicform4.custom.widget.f1}}
{{=forms_basicform4.custom.submit}}
{{=forms_basicform4.custom.end}}

<div  id=divID4 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash4 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID4').length > 0) {
    $('#divID4').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-dot-circle-o"></i> Submit
                                                        </button>
                                                        <button type="reset" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>{{=DICT["sp3021"]}}</strong> Form
                                                    </div>
                                                    <div class="card-body card-block">
                                                        
{{block myforms_basicform5}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform5.custom.begin}}
<div><label for='nf-email'>Email</label></div>
{{=forms_basicform5.custom.widget.f0}}
<div><label for='nf-password'>Password</label></div>
{{=forms_basicform5.custom.widget.f1}}
{{=forms_basicform5.custom.submit}}
{{=forms_basicform5.custom.end}}

<div  id=divID5 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash5 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID5').length > 0) {
    $('#divID5').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-dot-circle-o"></i> Submit
                                                        </button>
                                                        <button type="reset" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        Input <strong>{{=DICT["sp3026"]}}</strong>
                                                    </div>
                                                    <div class="card-body card-block">
                                                        
{{block myforms_basicform6}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform6.custom.begin}}
<div><label for='id116'>txt117</label></div>
{{=forms_basicform6.custom.widget.f0}}
<div><label for='id118'>txt119</label></div>
{{=forms_basicform6.custom.widget.f1}}
<div><label for='id120'>txt121</label></div>
{{=forms_basicform6.custom.widget.f2}}
<div><label for='id122'>txt123</label></div>
{{=forms_basicform6.custom.widget.f3}}
<div><label for='id124'>txt125</label></div>
{{=forms_basicform6.custom.widget.f4}}
<div><label for='id126'>txt127</label></div>
{{=forms_basicform6.custom.widget.f5}}
<div><label for='id128'>txt129</label></div>
{{=forms_basicform6.custom.widget.f6}}
<div><label for='id130'>txt131</label></div>
{{=forms_basicform6.custom.widget.f7}}
<div><label for='id132'>txt133</label></div>
{{=forms_basicform6.custom.widget.f8}}
<div><label for='id134'>txt135</label></div>
{{=forms_basicform6.custom.widget.f9}}
{{=forms_basicform6.custom.submit}}
{{=forms_basicform6.custom.end}}

<div  id=divID6 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash6 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID6').length > 0) {
    $('#divID6').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-user"></i> Login
                                                        </button>
                                                        <button type="reset" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        Input <strong>{{=DICT["sp3037"]}}</strong>
                                                    </div>
                                                    <div class="card-body card-block">
                                                        
{{block myforms_basicform7}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform7.custom.begin}}
<div><label for='input-small'>txt137</label></div>
{{=forms_basicform7.custom.widget.f0}}
<div><label for='input-normal'>txt139</label></div>
{{=forms_basicform7.custom.widget.f1}}
<div><label for='input-large'>txt141</label></div>
{{=forms_basicform7.custom.widget.f2}}
{{=forms_basicform7.custom.submit}}
{{=forms_basicform7.custom.end}}

<div  id=divID7 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash7 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID7').length > 0) {
    $('#divID7').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-dot-circle-o"></i> Submit
                                                        </button>
                                                        <button type="reset" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>{{=DICT["sp3041"]}}</strong> Form
                                                    </div>
                                                    <div class="card-body card-block">
                                                        <div class="has-success form-group"><label for="inputIsValid" class=" form-control-label">Input is valid</label><input type="text" id="inputIsValid" class="is-valid form-control-success form-control"></div>
                                                            <div class="has-warning form-group"><label for="inputIsInvalid" class=" form-control-label">Input is invalid</label><input type="text" id="inputIsInvalid" class="is-invalid form-control"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>{{=DICT["sp3042"]}}</strong> with optional icons<em>(deprecated)</em>
                                                    </div>
                                                    <div class="card-body card-block">
                                                        <div class="has-success form-group"><label for="inputSuccess2i" class=" form-control-label">Input with success</label><input type="text" id="inputSuccess2i" class="form-control-success form-control"></div>
                                                        <div class="has-warning form-group"><label for="inputWarning2i" class=" form-control-label">Input with warning</label><input type="text" id="inputWarning2i" class="form-control-warning form-control"></div>
                                                        <div class="has-danger has-feedback form-group"><label for="inputError2i" class=" form-control-label">Input with error</label><input type="text" id="inputError2i" class="form-control-danger form-control"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>{{=DICT["sp3043"]}}</strong> Groups
                                                    </div>
                                                    <div class="card-body card-block">
                                                        
{{block myforms_basicform8}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform8.custom.begin}}
<div><label for='input1-group1'>txt143</label></div>
{{=forms_basicform8.custom.widget.f0}}
<div><label for='input2-group1'>txt145</label></div>
{{=forms_basicform8.custom.widget.f1}}
<div><label for='input3-group1'>txt147</label></div>
{{=forms_basicform8.custom.widget.f2}}
{{=forms_basicform8.custom.submit}}
{{=forms_basicform8.custom.end}}

<div  id=divID8 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash8 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID8').length > 0) {
    $('#divID8').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                        <div class="card-footer">
                                                            <button type="submit" class="btn btn-success btn-sm">
                                                                <i class="fa fa-dot-circle-o"></i> Submit
                                                            </button>
                                                            <button type="reset" class="btn btn-danger btn-sm">
                                                                <i class="fa fa-ban"></i> Reset
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>{{=DICT["sp3048"]}}</strong> Groups
                                                        </div>
                                                        <div class="card-body card-block">
                                                            
{{block myforms_basicform9}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform9.custom.begin}}
<div><label for='input1-group2'>txt149</label></div>
{{=forms_basicform9.custom.widget.f0}}
<div><label for='input2-group2'>txt151</label></div>
{{=forms_basicform9.custom.widget.f1}}
<div><label for='input3-group2'>txt153</label></div>
{{=forms_basicform9.custom.widget.f2}}
{{=forms_basicform9.custom.submit}}
{{=forms_basicform9.custom.end}}

<div  id=divID9 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash9 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID9').length > 0) {
    $('#divID9').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                        <div class="card-footer">
                                                            <button type="submit" class="btn btn-success btn-sm">
                                                                <i class="fa fa-dot-circle-o"></i> Submit
                                                            </button>
                                                            <button type="reset" class="btn btn-danger btn-sm">
                                                                <i class="fa fa-ban"></i> Reset
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>{{=DICT["sp3053"]}}</strong> Groups
                                                        </div>
                                                        <div class="card-body card-block">
                                                            
{{block myforms_basicform10}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform10.custom.begin}}
<div><label for='input1-group3'>txt169</label></div>
{{=forms_basicform10.custom.widget.f0}}
<div><label for='input2-group3'>txt171</label></div>
{{=forms_basicform10.custom.widget.f1}}
<div><label for='input3-group3'>txt173</label></div>
{{=forms_basicform10.custom.widget.f2}}
{{=forms_basicform10.custom.submit}}
{{=forms_basicform10.custom.end}}

<div  id=divID10 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash10 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID10').length > 0) {
    $('#divID10').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                        <div class="card-footer">
                                                            <button type="submit" class="btn btn-success btn-sm">
                                                                <i class="fa fa-dot-circle-o"></i> Submit
                                                            </button>
                                                            <button type="reset" class="btn btn-danger btn-sm">
                                                                <i class="fa fa-ban"></i> Reset
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Use the grid for big devices!
                                                            <small>
                                                                <code>.col-lg-*</code><code>.col-md-*</code><code>.col-sm-*</code>
                                                            </small>
                                                        </div>
                                                        <div class="card-body card-block">
                                                            
{{block myforms_basicform11}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform11.custom.begin}}
<div><label for='id234'>txt235</label></div>
{{=forms_basicform11.custom.widget.f0}}
<div><label for='id236'>txt237</label></div>
{{=forms_basicform11.custom.widget.f1}}
<div><label for='id238'>txt239</label></div>
{{=forms_basicform11.custom.widget.f2}}
<div><label for='id240'>txt241</label></div>
{{=forms_basicform11.custom.widget.f3}}
<div><label for='id242'>txt243</label></div>
{{=forms_basicform11.custom.widget.f4}}
<div><label for='id244'>txt245</label></div>
{{=forms_basicform11.custom.widget.f5}}
<div><label for='id246'>txt247</label></div>
{{=forms_basicform11.custom.widget.f6}}
<div><label for='id248'>txt249</label></div>
{{=forms_basicform11.custom.widget.f7}}
<div><label for='id250'>txt251</label></div>
{{=forms_basicform11.custom.widget.f8}}
<div><label for='id252'>txt253</label></div>
{{=forms_basicform11.custom.widget.f9}}
{{=forms_basicform11.custom.submit}}
{{=forms_basicform11.custom.end}}

<div  id=divID11 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash11 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID11').length > 0) {
    $('#divID11').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                        <div class="card-footer"><button type="submit" class="btn btn-primary btn-sm">{{=DICT["bu3079"]}}</button><button class="btn btn-danger btn-sm">{{=DICT["bu3079"]}}</button><button class="btn btn-warning btn-sm">{{=DICT["bu3079"]}}</button><button class="btn btn-info btn-sm">{{=DICT["bu3079"]}}</button><button class="btn btn-success btn-sm">{{=DICT["bu3079"]}}</button></div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Input Grid for small devices!<small><code>.col-*</code></small>
                                                        </div>
                                                        <div class="card-body card-block">
                                                            
{{block myforms_basicform12}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform12.custom.begin}}
<div><label for='id254'>txt255</label></div>
{{=forms_basicform12.custom.widget.f0}}
<div><label for='id256'>txt257</label></div>
{{=forms_basicform12.custom.widget.f1}}
<div><label for='id258'>txt259</label></div>
{{=forms_basicform12.custom.widget.f2}}
<div><label for='id260'>txt261</label></div>
{{=forms_basicform12.custom.widget.f3}}
<div><label for='id262'>txt263</label></div>
{{=forms_basicform12.custom.widget.f4}}
<div><label for='id264'>txt265</label></div>
{{=forms_basicform12.custom.widget.f5}}
<div><label for='id266'>txt267</label></div>
{{=forms_basicform12.custom.widget.f6}}
<div><label for='id268'>txt269</label></div>
{{=forms_basicform12.custom.widget.f7}}
<div><label for='id270'>txt271</label></div>
{{=forms_basicform12.custom.widget.f8}}
<div><label for='id272'>txt273</label></div>
{{=forms_basicform12.custom.widget.f9}}
{{=forms_basicform12.custom.submit}}
{{=forms_basicform12.custom.end}}

<div  id=divID12 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash12 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID12').length > 0) {
    $('#divID12').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                        <div class="card-footer"><button type="submit" class="btn btn-primary btn-sm">{{=DICT["bu3090"]}}</button><button class="btn btn-danger btn-sm">{{=DICT["bu3090"]}}</button><button class="btn btn-warning btn-sm">{{=DICT["bu3090"]}}</button><button class="btn btn-info btn-sm">{{=DICT["bu3090"]}}</button><button class="btn btn-success btn-sm">{{=DICT["bu3090"]}}</button></div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">{{=DICT["di3091"]}}</div>
                                                        <div class="card-body card-block">
                                                            
{{block myforms_basicform13}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform13.custom.begin}}
<div><label for='username3'>txt275</label></div>
{{=forms_basicform13.custom.widget.f0}}
<div><label for='email3'>txt278</label></div>
{{=forms_basicform13.custom.widget.f1}}
<div><label for='password3'>txt281</label></div>
{{=forms_basicform13.custom.widget.f2}}
{{=forms_basicform13.custom.submit}}
{{=forms_basicform13.custom.end}}

<div  id=divID13 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash13 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID13').length > 0) {
    $('#divID13').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">{{=DICT["di3096"]}}</div>
                                                        <div class="card-body card-block">
                                                            
{{block myforms_basicform14}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform14.custom.begin}}
<div><label for='username2'>txt287</label></div>
{{=forms_basicform14.custom.widget.f0}}
<div><label for='email2'>txt289</label></div>
{{=forms_basicform14.custom.widget.f1}}
<div><label for='password2'>txt291</label></div>
{{=forms_basicform14.custom.widget.f2}}
{{=forms_basicform14.custom.submit}}
{{=forms_basicform14.custom.end}}

<div  id=divID14 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash14 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID14').length > 0) {
    $('#divID14').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">{{=DICT["di3101"]}}</div>
                                                        <div class="card-body card-block">
                                                            
{{block myforms_basicform15}}
{{include 'web2py_ajax.html'}}

{{=forms_basicform15.custom.begin}}
<div><label for='username'>txt296</label></div>
{{=forms_basicform15.custom.widget.f0}}
<div><label for='email'>txt298</label></div>
{{=forms_basicform15.custom.widget.f1}}
<div><label for='password'>txt300</label></div>
{{=forms_basicform15.custom.widget.f2}}
{{=forms_basicform15.custom.submit}}
{{=forms_basicform15.custom.end}}

<div  id=divID15 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash15 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID15').length > 0) {
    $('#divID15').remove();
  } 
}, 15000)
 </script>
{{end}}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .animated -->
                                    </div><!-- .content -->
                                </div><!-- /#right-panel -->
                                <!-- Right Panel -->


                            <script src="{{=URL('static','template/vendors/jquery/dist/jquery.min.js')}}"></script>
                            <script src="{{=URL('static','template/vendors/popper.js/dist/umd/popper.min.js')}}"></script>

                            <script src="{{=URL('static','template/vendors/jquery-validation/dist/jquery.validate.min.js')}}"></script>
                            <script src="{{=URL('static','template/vendors/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js')}}"></script>

                            <script src="{{=URL('static','template/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
                            <script src="{{=URL('static','template/assets/js/main.js')}}"></script>
</body>
</html>