<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>facew2p</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{=URL('static','template/apple-icon.png')}}">
    <link rel="shortcut icon" href="{{=URL('static','template/favicon.ico')}}">


    <link rel="stylesheet" href="{{=URL('static','template/vendors/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/themify-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/flag-icon-css/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','template/vendors/selectFX/css/cs-skin-elastic.css')}}">

    <link rel="stylesheet" href="{{=URL('static','template/assets/css/style.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Open+San" rel="stylesheet" type="text/css">





   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{=URL(c='default',f='index')}}"><img src="{{=URL('static','template/images/logo.png')}}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{{=URL(c='default',f='index')}}"><img src="{{=URL('static','template/images/logo2.png')}}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{=URL(c='default',f='index')}}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">{{=DICT["hc2714"]}}</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
                        <ul class="sub-menu children active dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="{{=URL(c='default',f='ui_buttons')}}">{{=DICT["aa2716"]}}</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="{{=URL(c='default',f='ui_badges')}}">{{=DICT["aa2718"]}}</a></li>
                            <li><i class="fa fa-bars"></i><a href="{{=URL(c='default',f='ui_tabs')}}">{{=DICT["aa2720"]}}</a></li>
                            <li><i class="fa fa-share-square-o"></i><a href="{{=URL(c='default',f='ui_social_buttons')}}">{{=DICT["aa2722"]}}</a></li>
                            <li><i class="fa fa-id-card-o"></i><a href="{{=URL(c='default',f='ui_cards')}}">{{=DICT["aa2724"]}}</a></li>
                            <li><i class="fa fa-exclamation-triangle"></i><a href="{{=URL(c='default',f='ui_alerts')}}">{{=DICT["aa2726"]}}</a></li>
                            <li><i class="fa fa-spinner"></i><a href="{{=URL(c='default',f='ui_progressbar')}}">{{=DICT["aa2728"]}}</a></li>
                            <li><i class="fa fa-fire"></i><a href="{{=URL(c='default',f='ui_modals')}}">{{=DICT["aa2730"]}}</a></li>
                            <li><i class="fa fa-book"></i><a href="{{=URL(c='default',f='ui_switches')}}">{{=DICT["aa2732"]}}</a></li>
                            <li><i class="fa fa-th"></i><a href="{{=URL(c='default',f='ui_grids')}}">{{=DICT["aa2734"]}}</a></li>
                            <li><i class="fa fa-file-word-o"></i><a href="{{=URL(c='default',f='ui_typgraphy')}}">{{=DICT["aa2736"]}}</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="{{=URL(c='default',f='tables_basic')}}">{{=DICT["aa2738"]}}</a></li>
                            <li><i class="fa fa-table"></i><a href="{{=URL(c='default',f='tables_data')}}">{{=DICT["aa2740"]}}</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="{{=URL(c='default',f='forms_basic')}}">{{=DICT["aa2742"]}}</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="{{=URL(c='default',f='forms_advanced')}}">{{=DICT["aa2744"]}}</a></li>
                        </ul>
                    </li>

                    <h3 class="menu-title">{{=DICT["hc2745"]}}</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="{{=URL(c='default',f='font_fontawesome')}}">{{=DICT["aa2747"]}}</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="{{=URL(c='default',f='font_themify')}}">{{=DICT["aa2749"]}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{=URL(c='default',f='widgets')}}"> <i class="menu-icon ti-email"></i>Widgets </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="{{=URL(c='default',f='charts_chartjs')}}">{{=DICT["aa2752"]}}</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="{{=URL(c='default',f='charts_flot')}}">{{=DICT["aa2754"]}}</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="{{=URL(c='default',f='charts_peity')}}">{{=DICT["aa2756"]}}</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="{{=URL(c='default',f='maps_gmap')}}">{{=DICT["aa2758"]}}</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="{{=URL(c='default',f='maps_vector')}}">{{=DICT["aa2760"]}}</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title">{{=DICT["hc2761"]}}</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="{{=URL(c='default',f='page_login')}}">{{=DICT["aa2763"]}}</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="{{=URL(c='default',f='page_register')}}">{{=DICT["aa2765"]}}</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="{{=URL(c='default',f='pages_forget')}}">{{=DICT["aa2767"]}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            
{{block myui_buttonsform0}}
{{include 'web2py_ajax.html'}}

{{=ui_buttonsform0.custom.begin}}
<div><label for='id334'>txt335</label></div>
{{=ui_buttonsform0.custom.widget.f0}}
{{=ui_buttonsform0.custom.submit}}
{{=ui_buttonsform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">{{=DICT["pc2769"]}}</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">{{=DICT["pc2770"]}}</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/1.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2772"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2773"]}}</span>
                                        <p>{{=DICT["pa2774"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/2.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2776"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2777"]}}</span>
                                        <p>{{=DICT["pa2778"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/3.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2780"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2781"]}}</span>
                                        <p>{{=DICT["pa2782"]}}</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{{=URL('static','template/images/avatar/4.jpg')}}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">{{=DICT["sx2784"]}}</span>
                                    <span class="time float-right">{{=DICT["sx2785"]}}</span>
                                        <p>{{=DICT["pa2786"]}}</p>
                                </span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{{=URL('static','template/images/admin.jpg')}}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">{{=DICT["sx2788"]}}</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{=DICT["hh2789"]}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">{{=DICT["aa2790"]}}</a></li>
                            <li><a href="#">{{=DICT["aa2791"]}}</a></li>
                            <li class="active">{{=DICT["lb2792"]}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="buttons">

                        <!-- Left Block -->
                        <div class="col-md-6">

                            <div class="card">
                                <div class="card-header">
                                    <strong>{{=DICT["sp2793"]}}</strong>
                                    <small>Use this class
                                        <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code> or <code>&lt;input&gt;</code>
                                    </small>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary">{{=DICT["bu2794"]}}</button>
                                    <button type="button" class="btn btn-secondary">{{=DICT["bu2795"]}}</button>
                                    <button type="button" class="btn btn-success">{{=DICT["bu2796"]}}</button>
                                    <button type="button" class="btn btn-danger">{{=DICT["bu2797"]}}</button>
                                    <button type="button" class="btn btn-warning">{{=DICT["bu2798"]}}</button>
                                    <button type="button" class="btn btn-info">{{=DICT["bu2799"]}}</button>
                                    <button type="button" class="btn btn-link">{{=DICT["bu2800"]}}</button>
                                </div>
                            </div><!-- /# card -->


                            <div class="card">
                                <div class="card-header">
                                    <strong>{{=DICT["sp2801"]}}</strong>
                                    <small>Use this class
                                        <code>.btn</code> or <code>&lt;button&gt;</code>
                                    </small>
                                </div>
                                <div class="card-body">
                                    <a class="btn btn-primary" href="#" role="button">{{=DICT["aa2802"]}}</a>
                                    <button class="btn btn-danger" type="submit">{{=DICT["bu2803"]}}</button>
                                    <input class="btn btn-info" type="button" value="Input">
                                    <input class="btn btn-success" type="submit" value="Submit">
                                    <input class="btn btn-warning" type="reset" value="Reset">
                                </div>
                                </div><!-- /# card -->

                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2804"]}}</strong>
                                        <small>Use this class
                                        <code>disabled="disabled"</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" disabled>{{=DICT["bu2805"]}}</button>
                                        <button type="button" class="btn btn-secondary" disabled>{{=DICT["bu2806"]}}</button>
                                        <button type="button" class="btn btn-success" disabled>{{=DICT["bu2807"]}}</button>
                                        <button type="button" class="btn btn-danger" disabled>{{=DICT["bu2808"]}}</button>
                                        <button type="button" class="btn btn-warning" disabled>{{=DICT["bu2809"]}}</button>
                                        <button type="button" class="btn btn-info" disabled>{{=DICT["bu2810"]}}</button>
                                        <button type="button" class="btn btn-link" disabled>{{=DICT["bu2811"]}}</button>
                                    </div>
                                </div><!-- /# card -->


                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2812"]}}</strong>
                                        <small>Use <code>&lt;i&gt;</code></small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-star"></i>&nbsp; Primary</button>
                                        <button type="button" class="btn btn-secondary"><i class="fa fa-lightbulb-o"></i>&nbsp; Secondary</button>
                                        <button type="button" class="btn btn-success"><i class="fa fa-magic"></i>&nbsp; Success</button>
                                        <button type="button" class="btn btn-warning"><i class="fa fa-map-marker"></i>&nbsp; Warning</button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-rss"></i>&nbsp; Danger</button>
                                        <button type="button" class="btn btn-link"><i class="fa fa-link"></i>&nbsp; Link</button>
                                    </div>
                                </div><!-- /# card -->


                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2813"]}}</strong>
                                        <small>Use this class
                                        <code>.btn-sm</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary btn-sm">{{=DICT["bu2814"]}}</button>
                                        <button type="button" class="btn btn-secondary btn-sm">{{=DICT["bu2815"]}}</button>
                                        <button type="button" class="btn btn-success btn-sm">{{=DICT["bu2816"]}}</button>
                                        <button type="button" class="btn btn-warning btn-sm">{{=DICT["bu2817"]}}</button>
                                        <button type="button" class="btn btn-danger btn-sm">{{=DICT["bu2818"]}}</button>
                                        <button type="button" class="btn btn-link btn-sm">{{=DICT["bu2819"]}}</button>
                                    </div>
                                </div><!-- /# card -->

                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2820"]}}</strong>
                                        <small>Use this class
                                        <code>.btn-sm</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-star"></i>&nbsp; Primary</button>
                                        <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-lightbulb-o"></i>&nbsp; Secondary</button>
                                        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-magic"></i>&nbsp; Success</button>
                                        <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-map-marker"></i>&nbsp; Warning</button>
                                        <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-rss"></i>&nbsp;Danger</button>
                                        <button type="button" class="btn btn-link btn-sm"><i class="fa fa-link"></i>&nbsp; Link</button>
                                    </div>
                                </div><!-- /# card -->

                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2821"]}}</strong>
                                        <small>Use this class
                                        <code>.btn-lg</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary btn-lg">{{=DICT["bu2822"]}}</button>
                                        <button type="button" class="btn btn-secondary btn-lg">{{=DICT["bu2823"]}}</button>
                                        <button type="button" class="btn btn-success btn-lg">{{=DICT["bu2824"]}}</button>
                                        <button type="button" class="btn btn-warning btn-lg">{{=DICT["bu2825"]}}</button>
                                        <button type="button" class="btn btn-danger btn-lg">{{=DICT["bu2826"]}}</button>
                                        <button type="button" class="btn btn-link btn-lg">{{=DICT["bu2827"]}}</button>
                                    </div>
                                </div><!-- /# card -->

                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2828"]}}</strong>
                                        <small>Use this class
                                        <code>.btn-lg .active</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary btn-lg active">{{=DICT["bu2829"]}}</button>
                                        <button type="button" class="btn btn-secondary btn-lg active">{{=DICT["bu2830"]}}</button>
                                        <button type="button" class="btn btn-success btn-lg active">{{=DICT["bu2831"]}}</button>
                                        <button type="button" class="btn btn-warning btn-lg active">{{=DICT["bu2832"]}}</button>
                                        <button type="button" class="btn btn-danger btn-lg active">{{=DICT["bu2833"]}}</button>
                                        <button type="button" class="btn btn-link btn-lg active">{{=DICT["bu2834"]}}</button>
                                    </div>
                                </div><!-- /# card -->

                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2835"]}}</strong>
                                        <small>Use this class
                                        <code>.btn-block</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary btn-lg btn-block">{{=DICT["bu2836"]}}</button>
                                        <button type="button" class="btn btn-secondary btn-lg btn-block">{{=DICT["bu2837"]}}</button>

                                        <button type="button" class="btn btn-primary btn-lg btn-block">{{=DICT["bu2838"]}}</button>
                                        <button type="button" class="btn btn-secondary btn-lg btn-block">{{=DICT["bu2839"]}}</button>
                                        <button type="button" class="btn btn-success btn-lg btn-block">{{=DICT["bu2840"]}}</button>
                                        <button type="button" class="btn btn-warning btn-lg btn-block">{{=DICT["bu2841"]}}</button>
                                        <button type="button" class="btn btn-danger btn-lg btn-block">{{=DICT["bu2842"]}}</button>
                                        <button type="button" class="btn btn-link btn-lg btn-block">{{=DICT["bu2843"]}}</button>
                                    </div>
                                </div><!-- /# card -->
                            </div>



                            <!-- Right Block -->
                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2844"]}}</strong>
                                        <small>Use this class
                                        <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code> or <code>&lt;input&gt;</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-primary">{{=DICT["bu2845"]}}</button>
                                        <button type="button" class="btn btn-outline-secondary">{{=DICT["bu2846"]}}</button>
                                        <button type="button" class="btn btn-outline-success">{{=DICT["bu2847"]}}</button>
                                        <button type="button" class="btn btn-outline-danger">{{=DICT["bu2848"]}}</button>
                                        <button type="button" class="btn btn-outline-warning">{{=DICT["bu2849"]}}</button>
                                        <button type="button" class="btn btn-outline-info">{{=DICT["bu2850"]}}</button>
                                        <button type="button" class="btn btn-outline-link">{{=DICT["bu2851"]}}</button>
                                    </div>
                                </div><!-- /# card -->


                                <div class="card">
                                    <div class="card-header">
                                        <strong>{{=DICT["sp2852"]}}</strong>
                                        <small>Use this class
                                        <code>.btn</code> or <code>&lt;button&gt;</code>
                                    </small>
                                    </div>
                                    <div class="card-body">
                                        <a class="btn btn-outline-primary" href="#" role="button">{{=DICT["aa2853"]}}</a>
                                        <button class="btn btn-outline-danger" type="submit">{{=DICT["bu2854"]}}</button>
                                        <input class="btn btn-outline-info" type="button" value="Input">
                                        <input class="btn btn-outline-success" type="submit" value="Submit">
                                        <input class="btn btn-outline-warning" type="reset" value="Reset">
                                </div>
                                    </div><!-- /# card -->

                                    <div class="card">
                                        <div class="card-header">
                                            <strong>{{=DICT["sp2855"]}}</strong>
                                            <small>Use this class
                                        <code>disabled="disabled"</code>
                                    </small>
                                        </div>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-outline-primary" disabled>{{=DICT["bu2856"]}}</button>
                                            <button type="button" class="btn btn-outline-secondary" disabled>{{=DICT["bu2857"]}}</button>
                                            <button type="button" class="btn btn-outline-success" disabled>{{=DICT["bu2858"]}}</button>
                                            <button type="button" class="btn btn-outline-danger" disabled>{{=DICT["bu2859"]}}</button>
                                            <button type="button" class="btn btn-outline-warning" disabled>{{=DICT["bu2860"]}}</button>
                                            <button type="button" class="btn btn-outline-info" disabled>{{=DICT["bu2861"]}}</button>
                                            <button type="button" class="btn btn-outline-link" disabled>{{=DICT["bu2862"]}}</button>
                                        </div>
                                    </div><!-- /# card -->


                                    <div class="card">
                                        <div class="card-header">
                                            <strong>{{=DICT["sp2863"]}}</strong>
                                            <small>Use <code>&lt;i&gt;</code></small>
                                        </div>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-outline-primary"><i class="fa fa-star"></i>&nbsp; Primary</button>
                                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-lightbulb-o"></i>&nbsp; Secondary</button>
                                            <button type="button" class="btn btn-outline-success"><i class="fa fa-magic"></i>&nbsp; Success</button>
                                            <button type="button" class="btn btn-outline-warning"><i class="fa fa-map-marker"></i>&nbsp; Warning</button>
                                            <button type="button" class="btn btn-outline-danger"><i class="fa fa-rss"></i>&nbsp; Danger</button>
                                            <button type="button" class="btn btn-outline-link"><i class="fa fa-link"></i>&nbsp; Link</button>
                                        </div>
                                    </div><!-- /# card -->


                                    <div class="card">
                                        <div class="card-header">
                                            <strong>{{=DICT["sp2864"]}}</strong>
                                            <small>Use this class
                                        <code>.btn-sm</code>
                                    </small>
                                        </div>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-outline-primary btn-sm">{{=DICT["bu2865"]}}</button>
                                            <button type="button" class="btn btn-outline-secondary btn-sm">{{=DICT["bu2866"]}}</button>
                                            <button type="button" class="btn btn-outline-success btn-sm">{{=DICT["bu2867"]}}</button>
                                            <button type="button" class="btn btn-outline-warning btn-sm">{{=DICT["bu2868"]}}</button>
                                            <button type="button" class="btn btn-outline-danger btn-sm">{{=DICT["bu2869"]}}</button>
                                            <button type="button" class="btn btn-outline-link btn-sm">{{=DICT["bu2870"]}}</button>
                                        </div>
                                    </div><!-- /# card -->

                                    <div class="card">
                                        <div class="card-header">
                                            <strong>{{=DICT["sp2871"]}}</strong>
                                            <small>Use this class
                                        <code>.btn-sm</code>
                                    </small>
                                        </div>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-star"></i>&nbsp; Primary</button>
                                            <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-lightbulb-o"></i>&nbsp; Secondary</button>
                                            <button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-magic"></i>&nbsp; Success</button>
                                            <button type="button" class="btn btn-outline-warning btn-sm"><i class="fa fa-map-marker"></i>&nbsp; Warning</button>
                                            <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-rss"></i>&nbsp;Danger</button>
                                            <button type="button" class="btn btn-outline-link btn-sm"><i class="fa fa-link"></i>&nbsp; Link</button>
                                        </div>
                                    </div><!-- /# card -->

                                    <div class="card">
                                        <div class="card-header">
                                            <strong>{{=DICT["sp2872"]}}</strong>
                                            <small>Use this class
                                        <code>.btn-lg</code>
                                    </small>
                                        </div>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-outline-primary btn-lg">{{=DICT["bu2873"]}}</button>
                                            <button type="button" class="btn btn-outline-secondary btn-lg">{{=DICT["bu2874"]}}</button>
                                            <button type="button" class="btn btn-outline-success btn-lg">{{=DICT["bu2875"]}}</button>
                                            <button type="button" class="btn btn-outline-warning btn-lg">{{=DICT["bu2876"]}}</button>
                                            <button type="button" class="btn btn-outline-danger btn-lg">{{=DICT["bu2877"]}}</button>
                                            <button type="button" class="btn btn-outline-link btn-lg">{{=DICT["bu2878"]}}</button>
                                        </div>
                                    </div><!-- /# card -->

                                    <div class="card">
                                        <div class="card-header">
                                            <strong>{{=DICT["sp2879"]}}</strong>
                                            <small>Use this class
                                        <code>.btn-lg .active</code>
                                    </small>
                                        </div>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-outline-primary btn-lg active">{{=DICT["bu2880"]}}</button>
                                            <button type="button" class="btn btn-outline-secondary btn-lg active">{{=DICT["bu2881"]}}</button>
                                            <button type="button" class="btn btn-outline-success btn-lg active">{{=DICT["bu2882"]}}</button>
                                            <button type="button" class="btn btn-outline-warning btn-lg active">{{=DICT["bu2883"]}}</button>
                                            <button type="button" class="btn btn-outline-danger btn-lg active">{{=DICT["bu2884"]}}</button>
                                            <button type="button" class="btn btn-outline-link btn-lg active">{{=DICT["bu2885"]}}</button>
                                        </div>
                                    </div><!-- /# card -->

                                    <div class="card">
                                        <div class="card-header">
                                            <strong>{{=DICT["sp2886"]}}</strong>
                                            <small>Use this class
                                        <code>.btn-block</code>
                                    </small>
                                        </div>
                                        <div class="card-body">
                                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">{{=DICT["bu2887"]}}</button>
                                            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">{{=DICT["bu2888"]}}</button>

                                            <button type="button" class="btn btn-outline-primary btn-lg btn-block">{{=DICT["bu2889"]}}</button>
                                            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">{{=DICT["bu2890"]}}</button>
                                            <button type="button" class="btn btn-outline-success btn-lg btn-block">{{=DICT["bu2891"]}}</button>
                                            <button type="button" class="btn btn-outline-warning btn-lg btn-block">{{=DICT["bu2892"]}}</button>
                                            <button type="button" class="btn btn-outline-danger btn-lg btn-block">{{=DICT["bu2893"]}}</button>
                                            <button type="button" class="btn btn-outline-link btn-lg btn-block">{{=DICT["bu2894"]}}</button>
                                        </div>
                                    </div><!-- /# card -->
                                </div>
                            </div> <!-- .buttons -->

                        </div><!-- .row -->
                    </div><!-- .animated -->
                </div><!-- .content -->


            </div><!-- /#right-panel -->

            <!-- Right Panel -->


            <script src="{{=URL('static','template/vendors/jquery/dist/jquery.min.js')}}"></script>
            <script src="{{=URL('static','template/vendors/popper.js/dist/umd/popper.min.js')}}"></script>
            <script src="{{=URL('static','template/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
            <script src="{{=URL('static','template/assets/js/main.js')}}"></script>


</body>

</html>