{{extend 'w2playout.html'}}
{{=form}}
<style>
   p {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12pt; /* Размер шрифта в пунктах */ 
   }
  </style>
<p>{{=T('site tables')}}</p>

<p>{{=A('dindex02', _href=URL(c='myadd',f='index_2'))}}</p>

<p>{{=A('drounded0chart', _href=URL(c='myadd',f='rounded_chart'))}}</p>

<p>{{=A('dproduct0detail', _href=URL(c='myadd',f='product_detail'))}}</p>

<p>{{=A('ddual0list0box', _href=URL(c='myadd',f='dual_list_box'))}}</p>

<p>{{=A('dtabs', _href=URL(c='myadd',f='tabs'))}}</p>

<p>{{=A('dpassword0recovery', _href=URL(c='myadd',f='password_recovery'))}}</p>

<p>{{=A('dproduct0list', _href=URL(c='myadd',f='product_list'))}}</p>

<p>{{=A('dsparkline', _href=URL(c='myadd',f='sparkline'))}}</p>

<p>{{=A('dproduct0payment', _href=URL(c='myadd',f='product_payment'))}}</p>

<p>{{=A('dalerts', _href=URL(c='myadd',f='alerts'))}}</p>

<p>{{=A('dx0editable', _href=URL(c='myadd',f='x_editable'))}}</p>

<p>{{=A('daccordion', _href=URL(c='myadd',f='accordion'))}}</p>

<p>{{=A('dmodals', _href=URL(c='myadd',f='modals'))}}</p>

<p>{{=A('dcode0editor', _href=URL(c='myadd',f='code_editor'))}}</p>

<p>{{=A('dfile0manager', _href=URL(c='myadd',f='file_manager'))}}</p>

<p>{{=A('dc3', _href=URL(c='myadd',f='c3'))}}</p>

<p>{{=A('dproduct0edit', _href=URL(c='myadd',f='product_edit'))}}</p>

<p>{{=A('dtinymc', _href=URL(c='myadd',f='tinymc'))}}</p>

<p>{{=A('dbuttons', _href=URL(c='myadd',f='buttons'))}}</p>

<p>{{=A('danalytics', _href=URL(c='myadd',f='analytics'))}}</p>

<p>{{=A('dpreloader', _href=URL(c='myadd',f='preloader'))}}</p>

<p>{{=A('dmailbox0view', _href=URL(c='myadd',f='mailbox_view'))}}</p>

<p>{{=A('dstatic0table', _href=URL(c='myadd',f='static_table'))}}</p>

<p>{{=A('dbar0charts', _href=URL(c='myadd',f='bar_charts'))}}</p>

<p>{{=A('dmailbox0compose', _href=URL(c='myadd',f='mailbox_compose'))}}</p>

<p>{{=A('dlogin', _href=URL(c='myadd',f='login'))}}</p>

<p>{{=A('dmulti0upload', _href=URL(c='myadd',f='multi_upload'))}}</p>

<p>{{=A('ddata0maps', _href=URL(c='myadd',f='data_maps'))}}</p>

<p>{{=A('dmailbox', _href=URL(c='myadd',f='mailbox'))}}</p>

<p>{{=A('darea0charts', _href=URL(c='myadd',f='area_charts'))}}</p>

<p>{{=A('dnotifications', _href=URL(c='myadd',f='notifications'))}}</p>

<p>{{=A('dbasic0form0element', _href=URL(c='myadd',f='basic_form_element'))}}</p>

<p>{{=A('dproduct0cart', _href=URL(c='myadd',f='product_cart'))}}</p>

<p>{{=A('dline0charts', _href=URL(c='myadd',f='line_charts'))}}</p>

<p>{{=A('dadvance0form0element', _href=URL(c='myadd',f='advance_form_element'))}}</p>

<p>{{=A('dregister', _href=URL(c='myadd',f='register'))}}</p>

<p>{{=A('dpdf0viewer', _href=URL(c='myadd',f='pdf_viewer'))}}</p>

<p>{{=A('dpassword0meter', _href=URL(c='myadd',f='password_meter'))}}</p>

<p>{{=A('dwidgets', _href=URL(c='myadd',f='widgets'))}}</p>

<p>{{=A('dpeity', _href=URL(c='myadd',f='peity'))}}</p>

<p>{{=A('dtree0view', _href=URL(c='myadd',f='tree_view'))}}</p>

<p>{{=A('dindex', _href=URL(c='myadd',f='table_index1'))}}</p>

<p>{{=A('dindex01', _href=URL(c='myadd',f='index_1'))}}</p>

<p>{{=A('d500', _href=URL(c='myadd',f='X500'))}}</p>

<p>{{=A('dblog0details', _href=URL(c='myadd',f='blog_details'))}}</p>

<p>{{=A('dlock', _href=URL(c='myadd',f='lock'))}}</p>

<p>{{=A('dgoogle0map', _href=URL(c='myadd',f='google_map'))}}</p>

<p>{{=A('ddata0table', _href=URL(c='myadd',f='data_table'))}}</p>

<p>{{=A('dblog', _href=URL(c='myadd',f='blog'))}}</p>

<p>{{=A('dimages0cropper', _href=URL(c='myadd',f='images_cropper'))}}</p>

<p>{{=A('d404', _href=URL(c='myadd',f='X404'))}}</p>

<p>{{=A('auth_event', _href=URL(c='myadd',f='auth_eventctrl'))}}</p>

<p>{{=A('auth_user', _href=URL(c='myadd',f='auth_userctrl'))}}</p>

<p>{{=A('auth_group', _href=URL(c='myadd',f='auth_groupctrl'))}}</p>

<p>{{=A('auth_membership', _href=URL(c='myadd',f='auth_membershipctrl'))}}</p>

<p>{{=A('peitytable0', _href=URL(c='myadd',f='peitytable0ctrl'))}}</p>

<p>{{=A('peitytable1', _href=URL(c='myadd',f='peitytable1ctrl'))}}</p>

<p>{{=A('sparklinetable0', _href=URL(c='myadd',f='sparklinetable0ctrl'))}}</p>

<p>{{=A('static0tabletable0', _href=URL(c='myadd',f='static0tabletable0ctrl'))}}</p>

<p>{{=A('static0tabletable1', _href=URL(c='myadd',f='static0tabletable1ctrl'))}}</p>

<p>{{=A('static0tabletable2', _href=URL(c='myadd',f='static0tabletable2ctrl'))}}</p>

<p>{{=A('static0tabletable3', _href=URL(c='myadd',f='static0tabletable3ctrl'))}}</p>

<p>{{=A('static0tabletable4', _href=URL(c='myadd',f='static0tabletable4ctrl'))}}</p>

<p>{{=A('static0tabletable5', _href=URL(c='myadd',f='static0tabletable5ctrl'))}}</p>

<p>{{=A('data0tabletable0', _href=URL(c='myadd',f='data0tabletable0ctrl'))}}</p>

<p>{{=A('widgetstable0', _href=URL(c='myadd',f='widgetstable0ctrl'))}}</p>

<p>{{=A('widgetstable1', _href=URL(c='myadd',f='widgetstable1ctrl'))}}</p>

<p>{{=A('widgetstable2', _href=URL(c='myadd',f='widgetstable2ctrl'))}}</p>

<p>{{=A('widgetstable3', _href=URL(c='myadd',f='widgetstable3ctrl'))}}</p>

<p>{{=A('dpeityform0', _href=URL(c='myadd',f='dpeityform0ctrl'))}}</p>

<p>{{=A('dpdf_viewerform0', _href=URL(c='myadd',f='dpdf_viewerform0ctrl'))}}</p>

<p>{{=A('dtree_viewform0', _href=URL(c='myadd',f='dtree_viewform0ctrl'))}}</p>

<p>{{=A('dgoogle_mapform0', _href=URL(c='myadd',f='dgoogle_mapform0ctrl'))}}</p>

<p>{{=A('dblogform0', _href=URL(c='myadd',f='dblogform0ctrl'))}}</p>

<p>{{=A('ddata_mapsform0', _href=URL(c='myadd',f='ddata_mapsform0ctrl'))}}</p>

<p>{{=A('drounded_chartform0', _href=URL(c='myadd',f='drounded_chartform0ctrl'))}}</p>

<p>{{=A('dindex_1form0', _href=URL(c='myadd',f='dindex_1form0ctrl'))}}</p>

<p>{{=A('dproduct_editform0', _href=URL(c='myadd',f='dproduct_editform0ctrl'))}}</p>

<p>{{=A('dproduct_editform1', _href=URL(c='myadd',f='dproduct_editform1ctrl'))}}</p>

<p>{{=A('dproduct_editform2', _href=URL(c='myadd',f='dproduct_editform2ctrl'))}}</p>

<p>{{=A('dproduct_editform3', _href=URL(c='myadd',f='dproduct_editform3ctrl'))}}</p>

<p>{{=A('dbar_chartsform0', _href=URL(c='myadd',f='dbar_chartsform0ctrl'))}}</p>

<p>{{=A('dmailbox_composeform0', _href=URL(c='myadd',f='dmailbox_composeform0ctrl'))}}</p>

<p>{{=A('dmailbox_composeform1', _href=URL(c='myadd',f='dmailbox_composeform1ctrl'))}}</p>

<p>{{=A('dbuttonsform0', _href=URL(c='myadd',f='dbuttonsform0ctrl'))}}</p>

<p>{{=A('dtinymcform0', _href=URL(c='myadd',f='dtinymcform0ctrl'))}}</p>

<p>{{=A('dline_chartsform0', _href=URL(c='myadd',f='dline_chartsform0ctrl'))}}</p>

<p>{{=A('dsparklineform0', _href=URL(c='myadd',f='dsparklineform0ctrl'))}}</p>

<p>{{=A('dpassword_recoveryform0', _href=URL(c='myadd',f='dpassword_recoveryform0ctrl'))}}</p>

<p>{{=A('dlockform0', _href=URL(c='myadd',f='dlockform0ctrl'))}}</p>

<p>{{=A('dpassword_meterform0', _href=URL(c='myadd',f='dpassword_meterform0ctrl'))}}</p>

<p>{{=A('dproduct_cartform0', _href=URL(c='myadd',f='dproduct_cartform0ctrl'))}}</p>

<p>{{=A('dloginform0', _href=URL(c='myadd',f='dloginform0ctrl'))}}</p>

<p>{{=A('dproduct_listform0', _href=URL(c='myadd',f='dproduct_listform0ctrl'))}}</p>

<p>{{=A('dmulti_uploadform0', _href=URL(c='myadd',f='dmulti_uploadform0ctrl'))}}</p>

<p>{{=A('dc3form0', _href=URL(c='myadd',f='dc3form0ctrl'))}}</p>

<p>{{=A('dstatic_tableform0', _href=URL(c='myadd',f='dstatic_tableform0ctrl'))}}</p>

<p>{{=A('dadvance_form_elementform0', _href=URL(c='myadd',f='dadvance_form_elementform0ctrl'))}}</p>

<p>{{=A('dproduct_detailform0', _href=URL(c='myadd',f='dproduct_detailform0ctrl'))}}</p>

<p>{{=A('dnotificationsform0', _href=URL(c='myadd',f='dnotificationsform0ctrl'))}}</p>

<p>{{=A('ddual_list_boxform0', _href=URL(c='myadd',f='ddual_list_boxform0ctrl'))}}</p>

<p>{{=A('ddual_list_boxform1', _href=URL(c='myadd',f='ddual_list_boxform1ctrl'))}}</p>

<p>{{=A('dindexform0', _href=URL(c='myadd',f='dindexform0ctrl'))}}</p>

<p>{{=A('daccordionform0', _href=URL(c='myadd',f='daccordionform0ctrl'))}}</p>

<p>{{=A('dfile_managerform0', _href=URL(c='myadd',f='dfile_managerform0ctrl'))}}</p>

<p>{{=A('dpreloaderform0', _href=URL(c='myadd',f='dpreloaderform0ctrl'))}}</p>

<p>{{=A('dtabsform0', _href=URL(c='myadd',f='dtabsform0ctrl'))}}</p>

<p>{{=A('dalertsform0', _href=URL(c='myadd',f='dalertsform0ctrl'))}}</p>

<p>{{=A('dindex_2form0', _href=URL(c='myadd',f='dindex_2form0ctrl'))}}</p>

<p>{{=A('dblog_detailsform0', _href=URL(c='myadd',f='dblog_detailsform0ctrl'))}}</p>

<p>{{=A('dblog_detailsform1', _href=URL(c='myadd',f='dblog_detailsform1ctrl'))}}</p>

<p>{{=A('dimages_cropperform0', _href=URL(c='myadd',f='dimages_cropperform0ctrl'))}}</p>

<p>{{=A('dx_editableform0', _href=URL(c='myadd',f='dx_editableform0ctrl'))}}</p>

<p>{{=A('dcode_editorform0', _href=URL(c='myadd',f='dcode_editorform0ctrl'))}}</p>

<p>{{=A('ddata_tableform0', _href=URL(c='myadd',f='ddata_tableform0ctrl'))}}</p>

<p>{{=A('dmailboxform0', _href=URL(c='myadd',f='dmailboxform0ctrl'))}}</p>

<p>{{=A('dbasic_form_elementform0', _href=URL(c='myadd',f='dbasic_form_elementform0ctrl'))}}</p>

<p>{{=A('dbasic_form_elementform1', _href=URL(c='myadd',f='dbasic_form_elementform1ctrl'))}}</p>

<p>{{=A('dbasic_form_elementform2', _href=URL(c='myadd',f='dbasic_form_elementform2ctrl'))}}</p>

<p>{{=A('dbasic_form_elementform3', _href=URL(c='myadd',f='dbasic_form_elementform3ctrl'))}}</p>

<p>{{=A('dbasic_form_elementform4', _href=URL(c='myadd',f='dbasic_form_elementform4ctrl'))}}</p>

<p>{{=A('dbasic_form_elementform5', _href=URL(c='myadd',f='dbasic_form_elementform5ctrl'))}}</p>

<p>{{=A('dwidgetsform0', _href=URL(c='myadd',f='dwidgetsform0ctrl'))}}</p>

<p>{{=A('dmailbox_viewform0', _href=URL(c='myadd',f='dmailbox_viewform0ctrl'))}}</p>

<p>{{=A('darea_chartsform0', _href=URL(c='myadd',f='darea_chartsform0ctrl'))}}</p>

<p>{{=A('danalyticsform0', _href=URL(c='myadd',f='danalyticsform0ctrl'))}}</p>

<p>{{=A('dregisterform0', _href=URL(c='myadd',f='dregisterform0ctrl'))}}</p>

<p>{{=A('dmodalsform0', _href=URL(c='myadd',f='dmodalsform0ctrl'))}}</p>

<p>{{=A('dproduct_paymentform0', _href=URL(c='myadd',f='dproduct_paymentform0ctrl'))}}</p>

<p>{{=A('dproduct_paymentform1', _href=URL(c='myadd',f='dproduct_paymentform1ctrl'))}}</p>
