<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="au theme template">
	<meta name="author" content="Hau Nguyen">
	<meta name="keywords" content="au theme template">

	<!-- Title Page-->
	<title>facew2p</title>


	<!-- Fontfaces CSS-->
	<link href="{{=URL('static','template/css/font-face.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link href="{{=URL('static','template/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
	<link href="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link href="{{=URL('static','template/css/theme.css')}}" rel="stylesheet" media="all">



   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="{{=URL(c='default',f='index')}}">
							<img src="{{=URL('static','template/images/icon/logo.png')}}" alt="CoolAdmin" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='index')}}">{{=DICT["aa1456"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa1458"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa1460"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa1462"]}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{=URL(c='default',f='chart')}}">
								<i class="fas fa-chart-bar"></i>Charts</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='table')}}">
								<i class="fas fa-table"></i>Tables</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='form')}}">
								<i class="far fa-check-square"></i>Forms</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='map')}}">
								<i class="fas fa-map-marker-alt"></i>Maps</a>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-copy"></i>Pages</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='login')}}">{{=DICT["aa1468"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='register')}}">{{=DICT["aa1470"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa1472"]}}</a>
								</li>
							</ul>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-desktop"></i>UI Elements</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='button')}}">{{=DICT["aa1474"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa1476"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa1478"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='card')}}">{{=DICT["aa1480"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa1482"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa1484"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa1486"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa1488"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa1490"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa1492"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa1494"]}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#">
					<img src="{{=URL('static','template/images/icon/logo.png')}}" alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='index')}}">{{=DICT["aa1497"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index2')}}">{{=DICT["aa1499"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index3')}}">{{=DICT["aa1501"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='index4')}}">{{=DICT["aa1503"]}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{=URL(c='default',f='chart')}}">
								<i class="fas fa-chart-bar"></i>Charts</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='table')}}">
								<i class="fas fa-table"></i>Tables</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='form')}}">
								<i class="far fa-check-square"></i>Forms</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="{{=URL(c='default',f='map')}}">
								<i class="fas fa-map-marker-alt"></i>Maps</a>
						</li>
						<li class="has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-copy"></i>Pages</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='login')}}">{{=DICT["aa1509"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='register')}}">{{=DICT["aa1511"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='forget_pass')}}">{{=DICT["aa1513"]}}</a>
								</li>
							</ul>
						</li>
						<li class="active has-sub">
							<a class="js-arrow" href="#">
								<i class="fas fa-desktop"></i>UI Elements</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li>
									<a href="{{=URL(c='default',f='button')}}">{{=DICT["aa1515"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='badge')}}">{{=DICT["aa1517"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='tab')}}">{{=DICT["aa1519"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='card')}}">{{=DICT["aa1521"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='alert')}}">{{=DICT["aa1523"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='progress_bar')}}">{{=DICT["aa1525"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='modal')}}">{{=DICT["aa1527"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='switch')}}">{{=DICT["aa1529"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='grid')}}">{{=DICT["aa1531"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='fontawesome')}}">{{=DICT["aa1533"]}}</a>
								</li>
								<li>
									<a href="{{=URL(c='default',f='typo')}}">{{=DICT["aa1535"]}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="header-wrap">
							
{{block mymodalform0}}
{{include 'web2py_ajax.html'}}

{{=modalform0.custom.begin}}
<div><label for='id421'>txt422</label></div>
{{=modalform0.custom.widget.f0}}
{{=modalform0.custom.submit}}
{{=modalform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

							<div class="header-button">
								<div class="noti-wrap">
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-comment-more"></i>
										<span class="quantity">1</span>
										<div class="mess-dropdown js-dropdown">
											<div class="mess__title">
												<p>{{=DICT["pa1537"]}}</p>
											</div>
											<div class="mess__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Michelle Moreno" />
												</div>
												<div class="content">
													<h6>{{=DICT["hh1539"]}}</h6>
													<p>{{=DICT["pa1540"]}}</p>
													<span class="time">{{=DICT["sx1541"]}}</span>
												</div>
											</div>
											<div class="mess__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Diane Myers" />
												</div>
												<div class="content">
													<h6>{{=DICT["hh1543"]}}</h6>
													<p>{{=DICT["pa1544"]}}</p>
													<span class="time">{{=DICT["sx1545"]}}</span>
												</div>
											</div>
											<div class="mess__footer">
												<a href="#">{{=DICT["aa1546"]}}</a>
											</div>
										</div>
									</div>
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-email"></i>
										<span class="quantity">1</span>
										<div class="email-dropdown js-dropdown">
											<div class="email__title">
												<p>{{=DICT["pa1547"]}}</p>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-06.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa1549"]}}</p>
													<span>{{=DICT["sp1550"]}}</span>
												</div>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-05.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa1552"]}}</p>
													<span>{{=DICT["sp1553"]}}</span>
												</div>
											</div>
											<div class="email__item">
												<div class="image img-cir img-40">
													<img src="{{=URL('static','template/images/icon/avatar-04.jpg')}}" alt="Cynthia Harvey" />
												</div>
												<div class="content">
													<p>{{=DICT["pa1555"]}}</p>
													<span>{{=DICT["sp1556"]}}</span>
												</div>
											</div>
											<div class="email__footer">
												<a href="#">{{=DICT["aa1557"]}}</a>
											</div>
										</div>
									</div>
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-notifications"></i>
										<span class="quantity">3</span>
										<div class="notifi-dropdown js-dropdown">
											<div class="notifi__title">
												<p>{{=DICT["pa1558"]}}</p>
											</div>
											<div class="notifi__item">
												<div class="bg-c1 img-cir img-40">
													<i class="zmdi zmdi-email-open"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa1559"]}}</p>
													<span class="date">{{=DICT["sx1560"]}}</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c2 img-cir img-40">
													<i class="zmdi zmdi-account-box"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa1561"]}}</p>
													<span class="date">{{=DICT["sx1562"]}}</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c3 img-cir img-40">
													<i class="zmdi zmdi-file-text"></i>
												</div>
												<div class="content">
													<p>{{=DICT["pa1563"]}}</p>
													<span class="date">{{=DICT["sx1564"]}}</span>
												</div>
											</div>
											<div class="notifi__footer">
												<a href="#">{{=DICT["aa1565"]}}</a>
											</div>
										</div>
									</div>
								</div>
								<div class="account-wrap">
									<div class="account-item clearfix js-item-menu">
										<div class="image">
											<img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
										</div>
										<div class="content">
											<a class="js-acc-btn" href="#">{{=DICT["aa1567"]}}</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="#">
														<img src="{{=URL('static','template/images/icon/avatar-01.jpg')}}" alt="John Doe" />
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="#">{{=DICT["aa1569"]}}</a>
													</h5>
													<span class="email">{{=DICT["sx1570"]}}</span>
												</div>
											</div>
											<div class="account-dropdown__body">
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-account"></i>Account</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-settings"></i>Setting</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-money-box"></i>Billing</a>
												</div>
											</div>
											<div class="account-dropdown__footer">
												<a href="#">
													<i class="zmdi zmdi-power"></i>Logout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<i class="mr-2 fa fa-align-justify"></i>
										<strong class="card-title" v-if="headerText">Modals</strong>
									</div>
									<div class="card-body">

										<!-- Button trigger modal -->
										<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal">
											Small
										</button>

										<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#mediumModal">
											Medium
										</button>
										<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#largeModal">
											Large
										</button>
										<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#scrollmodal">
											Scrolling
										</button>
										<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#staticModal">
											Static
										</button>

									</div>
								</div>






							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- modal small -->
			<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="smallmodalLabel">{{=DICT["he1571"]}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">{{=DICT["sx1572"]}}</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								There are three species of zebras: the plains zebra, the mountain zebra and the Grévy"s zebra. The plains zebra and the mountain
								zebra belong to the subgenus Hippotigris, but Grévy"s zebra is the sole species of subgenus Dolichohippus. The latter
								resembles an ass, to which it is closely related, while the former two are more horse-like. All three belong to the
								genus Equus, along with other living equids.
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">{{=DICT["bu1573"]}}</button>
							<button type="button" class="btn btn-primary">{{=DICT["bu1574"]}}</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal small -->

			<!-- modal medium -->
			<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">{{=DICT["he1575"]}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">{{=DICT["sx1576"]}}</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								There are three species of zebras: the plains zebra, the mountain zebra and the Grévy"s zebra. The plains zebra and the mountain
								zebra belong to the subgenus Hippotigris, but Grévy"s zebra is the sole species of subgenus Dolichohippus. The latter
								resembles an ass, to which it is closely related, while the former two are more horse-like. All three belong to the
								genus Equus, along with other living equids.
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">{{=DICT["bu1577"]}}</button>
							<button type="button" class="btn btn-primary">{{=DICT["bu1578"]}}</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal medium -->

			<!-- modal large -->
			<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="largeModalLabel">{{=DICT["he1579"]}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">{{=DICT["sx1580"]}}</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								There are three species of zebras: the plains zebra, the mountain zebra and the Grévy"s zebra. The plains zebra and the mountain
								zebra belong to the subgenus Hippotigris, but Grévy"s zebra is the sole species of subgenus Dolichohippus. The latter
								resembles an ass, to which it is closely related, while the former two are more horse-like. All three belong to the
								genus Equus, along with other living equids.
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">{{=DICT["bu1581"]}}</button>
							<button type="button" class="btn btn-primary">{{=DICT["bu1582"]}}</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal large -->

			<!-- modal scroll -->
			<div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="scrollmodalLabel">{{=DICT["he1583"]}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">{{=DICT["sx1584"]}}</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo
								risus, porta ac consectetur ac, vestibulum at eros.
								<br> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								<br> Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
								Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
								<br> Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi
								leo risus, porta ac consectetur ac, vestibulum at eros.
								<br> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								<br> Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
								Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
								<br> Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi
								leo risus, porta ac consectetur ac, vestibulum at eros.
								<br> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								<br> Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
								Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
								<br> Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi
								leo risus, porta ac consectetur ac, vestibulum at eros.
								<br> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								<br> Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
								Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
								<br> Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi
								leo risus, porta ac consectetur ac, vestibulum at eros.
								<br> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								<br> Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
								Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
								<br> Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi
								leo risus, porta ac consectetur ac, vestibulum at eros.
								<br> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								<br> Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
								Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">{{=DICT["bu1585"]}}</button>
							<button type="button" class="btn btn-primary">{{=DICT["bu1586"]}}</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal scroll -->
			<!-- modal static -->
			<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
			 data-backdrop="static">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticModalLabel">{{=DICT["he1587"]}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">{{=DICT["sx1588"]}}</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								This is a static modal, backdrop click will not close it.
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">{{=DICT["bu1589"]}}</button>
							<button type="button" class="btn btn-primary">{{=DICT["bu1590"]}}</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal static -->

		</div>
		<!-- END PAGE CONTAINER-->

	</div>

	<!-- Jquery JS-->
	<script src="{{=URL('static','template/vendor/jquery-3.2.1.min.js')}}"></script>
	<!-- Bootstrap JS-->
	<script src="{{=URL('static','template/vendor/bootstrap-4.1/popper.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
	<!-- Vendor JS       -->
	<script src="{{=URL('static','template/vendor/slick/slick.min.js')}}">
	</script>
	<script src="{{=URL('static','template/vendor/wow/wow.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/animsition/animsition.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
	</script>
	<script src="{{=URL('static','template/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/counter-up/jquery.counterup.min.js')}}">
	</script>
	<script src="{{=URL('static','template/vendor/circle-progress/circle-progress.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
	<script src="{{=URL('static','template/vendor/chartjs/Chart.bundle.min.js')}}"></script>
	<script src="{{=URL('static','template/vendor/select2/select2.min.js')}}">
	</script>

	<!-- Main JS-->
	<script src="{{=URL('static','template/js/main.js')}}"></script>

</body>

</html>
<!-- end document-->