<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>facew2p</title>

    <!-- Fontfaces CSS-->
    <link href="{{=URL('static','template/css/font-face.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{=URL('static','template/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{=URL('static','template/css/theme.css')}}" rel="stylesheet" media="all">



   <meta charset='utf-8'>
   <link  rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}"  >
</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{{=URL('static','template/images/icon/logo.png')}}" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            
{{block myregisterform0}}
{{include 'web2py_ajax.html'}}

{{=registerform0.custom.begin}}
<div><label for='submit23'>Username</label></div>
{{=registerform0.custom.widget.f0}}
<div><label for='submit26'>Email Address</label></div>
{{=registerform0.custom.widget.f1}}
<div><label for='submit29'>Password</label></div>
{{=registerform0.custom.widget.f2}}
<div><label for='submit32'>Agree the terms and policy</label></div>
{{=registerform0.custom.widget.f3}}
{{=registerform0.custom.submit}}
{{=registerform0.custom.end}}

<div  id=divID0 style="heigth:50%;margin 0;display:inline-flex;padding: 0 5px 2px 5px;background-color:#F0FFF0;color:black;border: 1px dashed red;" >
                   <small>{{=response.flash0 or ''}}</small>
</div>

 <script>
 setTimeout(function(){
  if ($('#divID0').length > 0) {
    $('#divID0').remove();
  } 
}, 15000)
 </script>
{{end}}

                            <div class="register-link">
                                <p>
                                    Already have account?
                                    <a href="#">{{=DICT["aa1627"]}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{{=URL('static','template/vendor/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap JS-->
    <script src="{{=URL('static','template/vendor/bootstrap-4.1/popper.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
    <!-- Vendor JS       -->
    <script src="{{=URL('static','template/vendor/slick/slick.min.js')}}">
    </script>
    <script src="{{=URL('static','template/vendor/wow/wow.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/animsition/animsition.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
    </script>
    <script src="{{=URL('static','template/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/counter-up/jquery.counterup.min.js')}}">
    </script>
    <script src="{{=URL('static','template/vendor/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
    <script src="{{=URL('static','template/vendor/chartjs/Chart.bundle.min.js')}}"></script>
    <script src="{{=URL('static','template/vendor/select2/select2.min.js')}}">
    </script>

    <!-- Main JS-->
    <script src="{{=URL('static','template/js/main.js')}}"></script>

</body>

</html>
<!-- end document-->